<div class="associated_entity" data-controller="tabs tabdetails">


  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData">Documents</a>
    <% @entity = @investor_kyc.entity || current_user.entity.entity_setting.aml_enabled %>
    <% if current_user.entity.entity_setting.aml_enabled %>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#aml-reports-tab"
        data-action="click->tabdetails#loadData">Aml Reports</a>
    <% end %>
    <% if current_user.entity.entity_setting.ckyc_kra_enabled %>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#kyc-datas-tab"
        data-action="click->tabdetails#loadData">Kyc Data</a>
    <% end %>

  </nav>


  <div class="tab-content" data-controller="datatable">

      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
          <% msg = nil %>
          <%= render "/documents/index", documents: @investor_kyc.documents.includes(:folder),
              owner: @investor_kyc, entity: @investor_kyc.entity, msg: msg %>
        </div>
      </div>

      <% if current_user.entity.entity_setting.aml_enabled %>
      <div id="aml-reports-tab" class="tab-pane fade in show">
        <div id="aml-reports" class="associated_entity">
          <%= render partial: "/aml_reports/index" , locals: {lazy_load_data: true, investor_kyc: @investor_kyc} %>
        </div>
      </div>
      <% end %>

      <% if current_user.entity.entity_setting.ckyc_kra_enabled %>
      <div id="kyc-datas-tab" class="tab-pane fade in show">
        <div id="kyc-datas" class="associated_entity">
          <%= render partial: "/kyc_datas/index" , locals: {lazy_load_data: true, investor_kyc: @investor_kyc} %>
        </div>
      </div>
      <% end %>
  </div>

</div>
