<tr id="investor_kyc_<%= investor_kyc.id %>">

    <%= render RansackTableRow.new(model: investor_kyc, columns:) %>

    <td>
      <%= link_to  t_common(:show), investor_kyc , {class: "btn btn-outline-primary"}%>
    </td>

  </tr>
