<tr id="capital_commitment_<%= capital_commitment.id %>">
  <%= render RansackTableRow.new(model: capital_commitment, columns:) %>

  <td>
    <%= link_to  t_common(:show), capital_commitment , {class: "btn btn-outline-primary ti ti-eye"}%>
    <%= link_to  t_common(:edit), edit_capital_commitment_path(capital_commitment.id), {class: "btn btn-outline-success ti ti-edit"} if policy(capital_commitment).edit? %>
  </td>
</tr>
