<div class="col-lg-12 mb-4 stats">
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Committed Amount
              </div>
              <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(capital_commitment.committed_amount, params) %></div>
            </div>
            <div class="col-auto">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Called Amount
              </div>
              <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(capital_commitment.call_amount, params) %></div>
            </div>
            <div class="col-auto">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Collected Amount
              </div>
              <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(capital_commitment.collected_amount, params) %></div>
            </div>
            <div class="col-auto">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                Distributed Amount
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h6 mb-0 font-weight-bold text-gray-800"><%= money_to_currency(capital_commitment.distribution_amount, params) %></div>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col-auto">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
