<% toolbar ||= "Yes" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Commitments</h1>

    <% if toolbar == "Yes" %>
    <span>

        <% if fund && policy(fund).update? %>

            <%= link_to "New Capital Commitment", new_capital_commitment_path("capital_commitment[fund_id]": fund.id),  {class: "btn btn-outline-primary" } %>            

            <%= link_to "Import Documents", 
                new_import_upload_path("import_upload[owner_id]": fund.id, 
                "import_upload[owner_type]": "Fund", 
                "import_upload[import_type]": "FundDocs", 
                "sample_upload": "FUND_DOCS_SAMPLE"), 
                { class: "btn btn-outline-primary"}   %> 


            <%= link_to "Upload", 
                new_import_upload_path("import_upload[owner_id]": fund.id, 
                "import_upload[owner_type]": "Fund", 
                "import_upload[import_type]": "CapitalCommittment", 
                "sample_upload": "CAPITAL_COMMITMENT_SAMPLE"), 
                { class: "btn btn-outline-primary"}   %> 

        
        <% end %>

        <%= link_to "Download", capital_commitments_path(fund_id: fund&.id, format: "xlsx", all: true),  {class: "btn btn-outline-primary" } %>

        <%#= render "/funds/search_bar", model_name: "capital_commitment" %>

    </span>
    <% end %>
</div>