            
<% fund ||= nil %>        
<% data_source ||= capital_commitments_path(params, format: :json, all: true) %>    
<% lazy_load_data ||= false %>

<%= render "/capital_commitments/index_header", fund: fund %>

<div class="table-responsive" data-controller="commitments" data-commitments-lazy-load-data-value=<%= lazy_load_data %> data-commitments-table-name-value="#capital_commitments">

    <% if lazy_load_data %>
        <a class="load_data_link" data-action="click->commitments#loadData"><span>Load Data</span></a>
    <% end %>
    
    <table id="capital_commitments" class="table table-bordered dataTable action_table" 
        data-source="<%= data_source %>" >

        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Folio No
                </th>
                <th>
                    Investor
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Unit Type
                </th>
                <th>
                    Committed
                </th>
                <th>
                    Percentage
                </th>
                
                <th>
                    Called
                </th>


                <th>
                    Collected
                </th>
                
                <th>
                    Pending
                </th>

                <th>
                    Distributed
                </th>
                
                
                <% if params[:show_docs].present? %>
                <input id="show_docs" value="true" hidden>
                <th>
                    Documents
                </th>
                <% end %>

                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>
    </table>

</div>