<% 
  fund ||= nil; 
  cols ||= params[:cols] 
  fund_id ||= params[:fund_id] || fund&.id
%>

Fund ID: <%= fund_id %>

<% data_source ||= capital_commitments_path(q: params.to_unsafe_h[:q], fund_id:, format: :json, all: true) %>
<% xl_link = download_xl_link(data_source) %>
<% lazy_load_data ||= false %>
<%= render "/capital_commitments/index_header", fund: fund, xl_link: xl_link %>

<div class="table-responsive" data-controller="commitments" data-commitments-lazy-load-data-value=<%= lazy_load_data %> data-commitments-table-name-value="#capital_commitments">
  <% if lazy_load_data %>
    <a class="load_data_link" data-action="click->commitments#loadData"><span>Load Data</span></a>
  <% end %>
  
  <% if false && fund_id.blank? %>        
    <input type="text" id="commitment_cols" hidden value="all">
  <% end %>

  <table id="capital_commitments" class="table table-bordered dataTable action_table" 
        data-source="<%= data_source %>" >
    <thead>
      <tr>
        <% if fund_id.blank? %>
          <th>
            Fund
          </th>
        <% end %>
        <th>
          Type
        </th>
        <th>
          Folio No
        </th>
        <th>
          Investor
        </th>
        <th>
          Full Name
        </th>
        <th>
          Unit Type
        </th>
        <th>
          Committed
        </th>
        <th>
          Percentage
        </th>
        <th>
          Called
        </th>
        <th>
          Collected
        </th>
        <th>
          Distributed
        </th>
        <% if params[:show_docs].present? %>
          <input id="show_docs" value="true" hidden>
          <th>
            Documents
          </th>
        <% end %>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
</div>
