<%
  fund ||= Fund.find_by(id: params[:fund_id])
  fund_id ||= params[:fund_id] || fund&.id
  title ||= params[:title] || "Capital Commitments"
  import_upload_id ||= params[:import_upload_id]

  data_source ||= capital_commitments_path( params: params.to_unsafe_h, fund_id:, import_upload_id:, format: :json, all: true)

  xl_link = download_xl_link(data_source)
%>

<%= render "/capital_commitments/index_header", fund:, xl_link:, title: %>


<div class="table-responsive">
        <%

          capital_commitments_frame = "capital_commitments_frame"
          
          default_columns_map = if current_user.curr_role == "investor"
            CapitalCommitment::INVESTOR_STANDARD_COLUMNS
          else
            if params.include?(:investor_id)
              CapitalCommitment::INVESTOR_TAB_STANDARD_COLUMNS
            else
              CapitalCommitment::STANDARD_COLUMNS
            end
          end
        %>

        <%=render SearchComponent.new(data_source: capital_commitments_path( params: params.to_unsafe_h, fund_id:, import_upload_id:), turbo_frame: capital_commitments_frame) %>

        <%= render RansackTable.new(CapitalCommitment, q: @q, default_columns_map:, current_user: current_user, records: capital_commitments, report_id: params["report_id"], turbo_frame: capital_commitments_frame, referrer: request.referrer, pagy: @pagy) %>

</div>

