<% fund_id ||= params[:fund_id]%>
<% name ||= params[:name] || nil%>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Fund Reports</h1>
  <%= link_to "New Fund Report", new_fund_report_path(fund_id: fund_id), {class: "btn btn-outline-primary"} if fund_id.present?  && policy(FundReport.new(entity_id: current_user.entity_id, fund_id: fund_id)).new? %>
</div>
<% data_source = fund_reports_path(fund_id: fund_id, name: name) %>

<% fund_reports_frame = "fund_reports_frame" %>
<% q ||= nil %>
<%=render SearchComponent.new(data_source: data_source, turbo_frame: fund_reports_frame, allow_search: false) %>

<div class="table-responsive">
<%= render RansackTable.new(FundReport, q: q, entity: current_user.entity, current_user: current_user, report_id: params["report_id"], records: fund_reports, turbo_frame: fund_reports_frame, referrer: request.referrer, pagy: @pagy) %>
</div>