<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
    <span>
    </span>
</div>  

<div class="table-responsive">

    <table id='<%= "investments-#{title}" %>' class="table table-bordered dataTable jqDataTable">

      <%= render "investments/index_header", title: title, entity: entity %>

      <tbody>
        <% versions.each do |version| %>
          <%= render version.reify, title: title, version: version if version.reify %>
        <% end %>
      </tbody>

    </table>

</div>
