<% cols ||= params[:cols] %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Fund Units</h1>
  <%#= link_to "New Fund Unit", new_fund_unit_path, {class: "btn btn-outline-primary"}  %>

  <span>
    <%= link_to "Download", fund_units_path(fund_id: params[:fund_id], capital_commitment_id: params[:capital_commitment_id], investor_id: params[:investor_id], format: "xlsx", all: true),  {class: "btn btn-outline-success" } %>

    <%= link_to "Upload",
                new_import_upload_path("import_upload[owner_id]": current_user.entity_id,
                    "import_upload[entity_id]": current_user.entity_id,
                    "import_upload[owner_type]": "Entity",
                    "import_upload[import_type]": "FundUnit",
                    "sample_upload": "FUND_UNIT_SAMPLE"),
                    { class: "btn btn-outline-primary"}  if current_user.curr_role != "investor" %>
  </span>                  

</div>
<div class="table-responsive" data-controller="datatable">
  <table id="fund_units" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <% if cols  == "all" %>
        <th class="hideMobP">
          Fund
        </th>
        <th class="hideMobP">
          Investor
        </th>
        <% end %>
        <th>
          Unit Type
        </th>
        <th class="hideMobP">
          Issue Date
        </th>
        <th>
          Quantity
        </th>
        <th>
          Price
        </th>
        <th class="hideMobP">
          Premium
        </th>
        <th class="hideMobP">
          Total Premium Paid
        </th>
        <th class="hideMobP">
          Reason
        </th>
        <th class="hideMobP">
        </th>
      </tr>
    </thead>
    <tbody>
      <% fund_units.each do |fund_unit| %>
        <%= render fund_unit %>
      <% end %>
    </tbody>
  </table>
</div>
