<%= turbo_frame_tag "deal_activities_frame", target: "_top" do %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <% if params[:template].present? || template %>
      <h1 class="h3 mb-0 text-gray-800">Deal Step Templates</h1>
      <%= link_to "New Step Template", new_deal_activity_path("deal_activity[deal_id]": params[:deal_id], 
                      back_to: params[:back_to]), {class: "btn btn-primary"} if params[:deal_id] %>

    <% else %>
      <h1 class="h3 mb-0 text-gray-800">Deal Steps</h1>
    <% end %>
  </div>

  <div class="table-responsive">

    <table id="deal_activities" class="table table-bordered table-striped dataTable jqDataTable">
      <thead>
        <tr>
          <th class="">
            Sequence
          </th>
          <th>
            Step
          </th>
          <th class="hideMobP">
            Deal
          </th>
          <th class="hideMobP">
            Potential Investment
          </th>
          <th class="hideMobP">
            By Date
          </th>
          <th class="hideMobP">
            Status
          </th>
          <th>
            Done
          </th>
          <th class="hideMobP">
            Days
          </th>
          <th class="hideMobP">
            
          </th>
        </tr>
      </thead>
      <tbody id="deal_activities_tbody">
        <% deal_activities.each do |deal_activity| %>
          <%= render deal_activity %>
        <% end %>
      </tbody>
    </table>

  </div>

  
  <% if params[:template].present? %>
      <%= link_to "Change Sequence", update_sequence_deal_activity_path( id: 0, sequence: 0), id: "sort_link", hidden: true %>
      <div data-controller="activitytemplatesort"></div>
      <div class="info text-center alert alert-info">
        The deal steps are generated based on the templates here. Modify/Add/Reorder these templates before starting the deal.        
      </div>
  <% end %>

<% end %>
