<% if @approval_response && @approval.entity.entity_setting.custom_flags.enable_approval_show_kycs? %>
    <p>
    <div>
        <ol>        
        <% @approval_response.investor.investor_kycs.not_expired.each do |kyc| %>        
            <li>
                <%= kyc.full_name %>, 
                <%= kyc.PAN %>
            </li>        
        <% end %>
        </ol>
    </div>
    </p>
<% end %>