<% if @approval.entity.entity_setting.custom_flags.enable_approval_show_kycs? %>
    <p>
    <div>
        <% @approval_response.investor.investor_kycs.each do |kyc| %>
        <p>
            <%= link_to kyc.full_name, investor_kyc_url(kyc, subdomain: @approval.entity.sub_domain) %>, 
            <%= kyc.PAN %>
        </p>
        <% end %>
    </div>
    </p>
<% end %>