<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Agent Charts</h1>
  <span>
    <%= link_to "New Chart", new_agent_chart_path, {class: "btn btn-outline-primary ti ti-plus"}  %>
    <%= link_to "Download", agent_charts_path(format: :xlsx), {class: "btn btn-outline-info ti ti-download"} %>

    <%= link_to "Upload", new_import_upload_path(
                          "import_upload[import_type]": "AgentChart",
                          "sample_upload": "AGENT_CHART_SAMPLE"),
                        class: "btn btn-outline-success ti ti-upload",
                        data: { turbo: false }  %>
  </span>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="agent_charts" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Prompt
        </th>
        <th>
          Status
        </th>
        <th>
          Error
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @agent_charts.each do |agent_chart| %>
        <%= render agent_chart %>
      <% end %>
    </tbody>
  </table>
</div>