<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Agent Charts</h1>
  <%= link_to "New Agent Chart", new_agent_chart_path, {class: "btn btn-outline-primary"}  %>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="agent_charts" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Prompt
        </th>
        <th>
          Status
        </th>
        <th>
          Error
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @agent_charts.each do |agent_chart| %>
        <%= render agent_chart %>
      <% end %>
    </tbody>
  </table>
</div>