<p>Dear User</p>

<p>This is in regard to the secondary sale you are participating in. As a last step for the transaction to be completed, you are required to sign the SPA. Please use the link below to sign the SPA after reading it</p>


<p class="btn btn-primary"><%= link_to  "View & Sign",  [@signature_workflow.owner, subdomain: @signature_workflow.entity.sub_domain] %></p>