<p>Dear User</p>

<p>Thank you for completing the eSign process for your offer. Please use the link below to view the details. </p>


<p class="btn btn-primary"><%= link_to  "View Offer",  [@signature_workflow.owner, subdomain: @signature_workflow.entity.sub_domain] %></p>