<h3>Dear <%= @offer.user.full_name %></h3>

<p>
    For the sale of your shares below, please login to confirm the details.
</p>

<p>
    <%= render "/offers/show", offer: @offer, current_user: nil %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View offer', offers_url(subdomain: @offer.entity.sub_domain) %></p>
