
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon">
          <img src="/img/logo_trans.png"></img>
      </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <% Administrate::Namespace.new(namespace).resources_with_index_route.sort.each do |resource| %>
    <li class="nav-item">

      
      <% anchor = "<i class='fas fa-lg fa-fw'></i><span>#{display_resource_name(resource)}</span>".html_safe %>
      
      <%= link_to(anchor, resource_index_route(resource), class: "nav-link") if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) %>
      
    </li>
  <% end %>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">


</ul>
