<div class="row">
    <div class="col-lg-7 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    
                    <%= link_to messages_path(owner_id: owner.id, owner_type: owner.class.name.underscore), target: "_blank", class: "float-right" do %>
                        <i class="fas fa-expand"></i>
                    <% end %>
                </h6>
            </div>
            <div class="card-body">
                <%= render "messages/conversation", messages: messages, owner: owner %>
            </div>
        </div>
    </div>
    <div class="col-lg-5 mb-4">
        <%= render "tasks/index", tasks: Task.all.page(params[:page]) %>
    </div>
</div>