<div id="support_agent_reports" class="collapse">
<% support_agent_reports.each do |report| %>
  <%= render "/support_agent_reports/support_agent_report", support_agent_report: report %>
<% end %>
</div>