<% fund ||= nil %>
<% valuation ||= nil %>
<% import_upload_id ||= nil %>
<% data_source ||= fund_ratios_path(params: params.to_unsafe_h, import_upload_id: import_upload_id) %>

<%= render "fund_ratios/index_header", fund: , valuation: , data_source: %>

<% fund_ratios_frame = "fund_ratios_frame" %>
<% q ||=nil %>
<%=render SearchComponent.new(data_source: data_source, turbo_frame: fund_ratios_frame) %>
<div class="table-responsive">
  <%= render RansackTable.new(FundRatio, q: q, current_user: current_user, records: fund_ratios, default_columns_map: FundRatio::CONDENSED_COLUMNS, report_id: params["report_id"], turbo_frame: fund_ratios_frame, referrer: request.referrer, pagy: @pagy) %>
</div>
