<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Kpis</h1>
  <%#= link_to "New Kpi", new_kpi_path, {class: "btn btn-outline-primary"}  %>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="kpis" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Value
        </th>
        <th>
          Notes
        </th>
      </tr>
    </thead>
    <tbody>
      <% kpis.each do |kpi| %>
        <%= render kpi %>
      <% end %>
    </tbody>
  </table>
</div>
