

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Holding Audit Trails</h1>
</div>

<div class="table-responsive">

  <table id="holding_audit_trails" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Action
        </th>
        <th>
          Corr ID
        </th>
        <th>
          Owner
        </th>
        <th>
          Quantity
        </th>
        <th>
          Operation
        </th>
        <th>
          Ref
        </th>
        <th>
          Comments
        </th>
        
        <th>
        </th>
      </tr>
    </thead>
    
    <tbody>
      <% @holding_audit_trails.each do |holding_audit_trail| %>
        <%= render holding_audit_trail %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @holding_audit_trails %>

</div>