<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Reminders</h1>
    <%= link_to "New Reminder", new_reminder_path("reminder[owner_id]": params[:owner_id],
        "reminder[owner_type]": params[:owner_type]), 
        { data: { turbo_frame: 'new_reminder' },
        method: :get,
        class: "btn btn-outline-primary" } if params[:owner_id].present? && params[:owner_type].present? %>
</div>


<%= turbo_frame_tag "new_reminder" do %>
<% end %>

<div class="table-responsive" data-controller="datatable">

    <table id="reminders" class="table table-bordered dataTable">
        <thead>
            <tr>
                <th class="hideMobP">
                    Note
                </th>
                <th>
                    Email
                </th>
                <th>
                    Due Date
                </th>                
                <th class="hideMobP">
                    Sent
                </th>

                <th>
                </th>
            </tr>
        </thead>
        <tbody id="reminders_table_body">
            <% reminders.each do |reminder| %>
                <%= render reminder %>
            <% end %>
        </tbody>
    </table>

</div>