

<%= render "/reminders/show", reminder: @reminder %>



  <div>
    <%= link_to  t_common(:edit) , edit_reminder_path(@reminder), {class: "btn btn-outline-primary" } %> |

    <%= button_to t_common(:delete) , @reminder, method: :delete, class: "btn btn-outline-danger" , form_class: "deleteButton" ,
      data: {action: "click->confirm#popup" , turbo:false} %>
  </div>