<%  price_growth, tax_rate, estimated_taxes, estimated_profit, 
      cost_neutral_sale, last_valuation, esop_value = 
      HoldingSummary.new(params, current_user).employee_summary %>

<%= turbo_frame_tag "employee_calc_cashless_fields" do %>
  
  <div data-excercise-target="cashlessfields" data-excercise-show-if-value="1">
    <div class="form-group">
      <label for="excercise_shares_to_sell">Shares to be Sold</label>
      <input id="shares_to_sell" class="form-control" type="text" name="excercise[shares_to_sell]"
      value="<%= cost_neutral_sale.round(0) %>">
    </div>
    <div class="form-group">
      <label for="excercise_shares_to_allot">Shares to be Alotted</label>
      <input id="shares_to_allot" class="form-control" type="text" name="excercise[shares_to_allot]" value="<%= params[:quantity].to_d - cost_neutral_sale.round(0) %>">
    </div>
  </div>

<% end %>
