 <% if holding.cancelled %>
  <% if holding.cancelled_quantity == holding.orig_grant_quantity %>
    <span class="badge bg-danger">
      Cancelled
    </span>
  <% else %>
    <span class="badge bg-danger">
      Partial Cancel
    </span>
  <% end %>
<% elsif holding.approved %>
  <span class="badge bg-success">
    Approved
  </span>
<% end %>
