
<tr id="<%= dom_id doc_question %>">
  <td>
    <%= doc_question.tags %>
  </td>
  <td>
    <%= doc_question.question %>
  </td>
  <td>
    <%= link_to "Show", doc_question , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
