<table id="<%= @id %>" class="table table-bordered dataTable action_table" data-source="<%= @data_source %>">

    <thead>
        <tr>
            <% 
                @column_names.each_with_index do |column, idx| 
                css_class = idx > 2 ? 'hideMobP' : ''
            %>
            <th class="<%= css_class %>">
                <%= column %>
            </th>
            <% end %>
        </tr>
    </thead>

    <!-- Filled in by jqDataTable -->
    <tbody>
    </tbody>
</table>