<!-- #TODO - refactor to use turbo to load the help teext specific to the model -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="help_slide_out" aria-labelledby="help_slide_outLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="help_slide_outLabel">Help</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <table class="table datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% help_text.each do |help_item| %>
          <tr>
            <td><%= link_to help_item.title, help_item.link %></td>
            <td><%= help_item.description %></td>
          </tr>
        <% end %>
    </table>    
  </div>
</div>