<!-- #TODO - refactor to use turbo to load the help teext specific to the model -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="help_slide_out" aria-labelledby="help_slide_outLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    
    <% if @class_name && @id %>
    
      <%= turbo_frame_tag "tasks_frame", target: "_top", loading: :lazy, 
          src: tasks_path(owner_id: @id, owner_type: @class_name, timeline: true, for_class: @class_name, for_class_id: @id, tag_list: controller.action_name) do %>
        <%= render "/layouts/loading" %>
      <% end %> 
    
    <% end %>    

    <div class="text-center alert alert-info">
      Contact support at support@caphive.com
    </div>
  </div>
</div>