


    <section id="analytics" class="py-5 bg-white border-top">
        <div class="container-xl px-4 py-4">
            <div class="row text-center gy-4">
                <% owner.ci_track_records.each_with_index do |track_record, idx| %>
                    <div class="col">
                        <h3 class="display-5 fw-bold text-dark mb-0">
                            <%= track_record.prefix %><span class="counter" data-target="<%= track_record.value %>">0</span><%= track_record.suffix %>
                        </h3>
                        <p class="small text-muted fw-medium mb-0"><%= track_record.name %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </section>

