<tr id="<%= dom_id task_template %>">
  <%= render RansackTableRow.new(model: task_template, columns:) %>
  <td>
    <%= link_to "Show", task_template , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
