<h3>Dear User</h3>

<p>
    Your interest in the secondary sale <%= @interest.secondary_sale.name %> has been <%= @interest.short_listed_status.humanize %>. 
    You can now access additional documents in the sale by clicking the link below. 
</p>

<p>
    <%= render "/interests/show", interest: @interest, current_user: nil %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Sale', secondary_sale_url(@interest.secondary_sale, subdomain: @interest.entity.sub_domain) %></p>
