<h3>Dear User</h3>

<p>
    An interest has been logged for the secondary sale <%= @interest.secondary_sale.name %>
</p>

<p>
    <%= render "/interests/show", interest: @interest, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Interest', interest_url(@interest) %></p>
