<h3>Dear User</h3>

<p>
    Your interest in the secondary sale <%= @interest.secondary_sale.name %> has been shortlisted. 
    You can now access additional documents in the sale by clicking the link below. 
</p>

<p>
    <h3>Next Steps:</h3>
    <table>
        <tr>
            <td>1. You will be contacted by our sales rep.</td>
        </tr>
        <tr>
            <td>2. You will need to deposit 1% of the transaction with us in escrow</td>
        </tr>
        <tr>
            <td>3. Once the escrow is completed, you will be connected with the sellers to take the sale forward</td>
        </tr>
        <tr>
            <td>4. Note we have many partners who can help with the sale process such as transfer of ownership etc.</td>
        </tr>
    </table>
</p>

<p>
    <h3>Interest Details:</h3>
    <%= render "/interests/show", interest: @interest, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Sale', secondary_sale_url(@interest.secondary_sale, subdomain: @interest.entity.sub_domain) %></p>
