
<% if !current_user.entity_id.present? %>
    <div class="alert alert-danger" role="alert">
        You are not associated with your company in our database. Step 1.   
        <a class="btn btn-outline-primary" rel="nofollow" href="<%= new_entity_path("entity[entity_type]": "Company") %>">Setup Company →</a>
    </div>
<% end %>



<%= render "entities/cxo_dashboard_stats" %>

<%#= render "entities/dashboard/notes" %>
<%= render "entities/dashboard/investors" %>




