
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Entity</h6>
  </div>
  <div class="card-body">

    <%= form_with(model: entity, validate: true) do |form| %>      
      <%= render "form_fields", entity: entity, form: form %>
      <div class="form-group">
        <%= form.submit "Save", {class: "btn btn-outline-primary"} %>
      </div>
    <% end %>

  </div>
</div>