<%= render FormCard.new(title: "Entity : #{entity.name.presence || 'New'}") do %>

    <%= form_with(model: entity, validate: true) do |form| %>      
      <%= render "form_fields", entity: entity, form: form %>
      <div class="form-group">
        <%= form.submit t_common(:save), {class: "btn btn-outline-primary"} %>
      </div>
    <% end %>

<% end %>