
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Entities</h1>
</div>

<div class="table-responsive">

  <table id="entities" class="table table-bordered dataTable ">
    <tr>
      <th>
        Name
      </th>
      <th class="hideMobP">
        Category
      </th>
      <th>
        Type
      </th>
      <th>
      </th>  
    </tr>


    <% entities.each do |entity| %>
      <%= render partial: "entities/entity", locals: {entity: entity, vc_view: vc_view} %>
    <% end %>
  </table>

</div>

