<%= render "entities/entities_dashboard_menus" if vc_view %>     

<%= render FormCard.new(title: "Entities") do %>

  <div data-controller="datatable">
    <table id="entities" class="table table-bordered  dataTable jqDataTable">
      <thead>
        <th>
          Name
        </th>
        <th>
          Category
        </th>
        <th>
        </th>  
      </thead>

      <tbody>
        <% entities.each do |entity| %>
          <%= render partial: "entities/entity", locals: {entity: entity, vc_view: vc_view} %>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>



