<%= render FormCard.new(title: "Entities") do %>

  <table id="entities" class="table table-bordered">
    <tr>
      <th>
        Name
      </th>
      <th class="hideMobP">
        Category
      </th>
      <th>
      </th>  
    </tr>


    <% entities.each do |entity| %>
      <%= render partial: "entities/entity", locals: {entity: entity, vc_view: vc_view} %>
    <% end %>
  </table>

<% end %>



