<% 
    entity_id = params[:entity_id].presence 
    entity = Entity.find(entity_id)
    investments = policy_scope(Investment).where(entity_id: entity_id).distinct
%>

<%= render "/entities/investor_dashboard_stats", entity: entity, investments: investments %>

<div data-controller="datatable">
    <div class="mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Investments</h6>
            </div>
            <div class="card-body">
                <%= render "/investments/index", investments: investments, title: "Investments", entity: entity %>
            </div>
        </div>
    </div>
       
</div>