<%#= render "entities/vc_dashboard_stats" %>

<div data-controller="datatable">

    <% if current_user.enable_funds %>
        <div class="associated_entity">
            <% capital_commitments = policy_scope(CapitalCommitment).includes(:fund, :investor_kyc) %>
            <%#= render "/funds/investor_charts", capital_commitments: capital_commitments %>
            <%= render "/capital_commitments/investor_index",  
                capital_commitments: capital_commitments  %>
        </div>
    <% end %>

   
    <% investment_opportunities = policy_scope(InvestmentOpportunity) %>
    <% if investment_opportunities.count > 0 %>
        <div class="associated_entity" >
            <%= render "/investment_opportunities/index",  
                investment_opportunities: investment_opportunities if current_user.enable_inv_opportunities %>
        </div>
    <% end %>


     <% approvals =  policy_scope(Approval).joins(approval_responses: :investor).where("approval_responses.status=?", "Pending") %>

    <% if approvals.count > 0 %>
        <div class="associated_entity">            
            <%= render "/approvals/index", approvals: approvals %>
        </div>
    <% end %> 

    
    <div class="associated_entity">        
        <%= render "/entities/index",  
            entities: policy_scope(Entity), vc_view: true %>
    </div>

</div>