<% if current_user.enable_funds %>
<div class="row">
    

    <div class="col">
        <div class="card">
        <div class="card-body">
            <a href="<%= data_rooms_folders_path %>">
                <div class="d-flex flex-row align-items-center">
                <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-success">
                    <i class="ti ti-folder fs-6"></i>
                </div>
                <div class="ms-3 align-self-center">
                    <h3 class="mb-0 fs-6">
                        Data Rooms
                    </h3>
                    <span class="text-muted">Shared Docs</span>
                </div>
                </div>
            </a>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <a href="<%= capital_commitments_path %>">
                <div class="d-flex flex-row align-items-center">
                <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-primary">
                    <i class="ti ti-grid-dots fs-6"></i>
                </div>
                <div class="ms-3 align-self-center">
                    <h3 class="mb-0 fs-6">
                        Commitments
                    </h3>
                    <span class="text-muted">All Your Commitments</span>
                </div>
                </div>
            </a>
        </div>
        </div>
    </div>


    <div class="col">
        <div class="card">
        <div class="card-body">
            <a href="<%= investor_kycs_path %>">
                <div class="d-flex flex-row align-items-center">
                <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-warning">
                    <i class="ti ti-file-check fs-6"></i>
                </div>
                <div class="ms-3 align-self-center">
                    <h3 class="mb-0 fs-6">
                        KYC's
                    </h3>
                    <span class="text-muted">Your KYC Info</span>
                </div>
                </div>
            </a>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <a href="<%= documents_capital_commitments_path %>">
                <div class="d-flex flex-row align-items-center">
                <div class="round-40 rounded-circle text-white d-flex align-items-center justify-content-center text-bg-info">
                    <i class="ti ti-credit-card fs-6"></i>
                </div>
                <div class="ms-3 align-self-center">
                    <h3 class="mb-0 fs-6">
                        Statments
                    </h3>
                    <span class="text-muted">Documents & Agreements</span>
                </div>
                </div>
            </a>
        </div>
        </div>
    </div>



</div>
<% end %>