<div class="associated_entity">
    <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
      <a class="nav-link  active" data-bs-toggle="pill" data-toggle="tab" href="#folders-tab">Documents</a>

      <% unless (["Fund", "Deal", "SecondarySale"].include?(folder.owner_type) && params[:debug].blank?) %>
        <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#access-rights-tab">Access Rights</a>
      <% end %>
      
    </nav>
    
  
  
    <div class="tab-content" data-controller="datatable">
        <div id="access-rights-tab" class="tab-pane fade">
          <div id="access_rights" class="associated_entity">
            <%  access_right = AccessRight.new(
                owner_id: folder.id, 
                access_type: "Folder", 
                owner_type: "Folder", 
                entity_id: folder.entity_id) %> 

            <% params[:form_type] = "document_form" %>
            <%= render "/access_rights/index", access_rights: folder.access_rights.includes(:investor, :owner), access_right: access_right %>
          </div>
        </div>
    
        <div id="folders-tab" class="tab-pane fade in show active">
          <div id="folders" class="associated_entity">
            <% params[:folder_id] = folder.id %>
            <%= render "documents/tree_view", documents: folder.documents.page().per(100), 
                        entity: folder.entity, show_steps: false, no_folders: true %>
          </div>
        </div>

    </div>  

</div>