<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Folders</h1>
    <span>
      <%= link_to "New Folder", new_folder_path("folder[entity_id]": current_user.entity_id), {class: "btn btn-outline-primary"}  %>
      <%= link_to "All Folders", folders_path(all:true), {class: "btn btn-outline-success"} unless params[:all].present? %>
      <%= link_to "Hide System Folders", folders_path(), {class: "btn btn-outline-warning"} if params[:all].present?  %>
    </span>
</div>
  
<div data-controller="datatable">
  
  <table id="folders" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          <strong>Name</strong>
        </th>
        <th>
          <strong>Parent Folder</strong>
        </th>
        <th>
          <strong>Full Path</strong>
        </th>
        
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% folders.each do |folder| %>
        <%= render folder %>
      <% end %>
    </tbody>
  </table>

</div>