
    <% folders.each do |folder, children| %>
        <ul id="<%=folder.id%>" class="">

        <li>
            <span  class="caret">
                <%= link_to folder.name, documents_path(folder_id: folder.id, entity_id: params[:entity_id]) %>
            </span>
            <%= render "/folders/tree_view", folders: children if children.present? %>                            
        </li>

        </ul>
    <% end %>



