<div id="chat_box">    
    <!-- Your form to submit new messages -->
    <%= form_with(url: send_message_chat_path(@chat), method: :post, data: {turbo: true}) do |f| %>
        <div class="input-group">
            <%= f.text_field :content, name: "user_content", class: "form-control" %>  
            <div class="input-group-append">
                <%= f.submit "Send", class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
</div>