<div class="col-xl-6">
    <div class="hero-content my-5 my-xl-0">
        <h6
        class="d-flex align-items-center gap-2 fs-4 fw-semibold mb-3"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="1000"
        >
        <i class="ti ti-rocket text-secondary fs-6"></i>
        <%= widget.investment_opportunity.company_name %>

        </h6>
        <h1
        class="fw-bolder mb-7 fs-13"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="1000"
        >
        <%= widget.title %>
        </h1>
        <p
        class="fs-5 mb-5 text-dark fw-normal"
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="1000"
        >
        <%= widget.details.html_safe %>
        </p>
        <div
        class="d-sm-flex align-items-center gap-3"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
        >
        
        <%#= link_to "Express Interest", 
        new_expression_of_interest_path("expression_of_interest[investment_opportunity_id]": 
            widget.investment_opportunity_id ), {class: "btn btn-#{color} px-5 py-6 btn-hover-shadow d-block mb-3 mb-sm-0"}  %>

        </div>
    </div>
</div>