<%details ||= nil %>
<% if !details.blank? %>
<div class="col-xl-12">
    <div class="content-wrapper my-4">
        <p class="fs-4 text-dark" style="line-height: 1.8;">
            <%= details.html_safe %>
        </p>
    </div>
</div>
<% end %>
