<div class="col-xl-6">
    <div class="hero-content my-5 my-xl-0">
        
        <p
        class="fs-7 mb-5 text-dark fw-normal"
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="1000"
        >
            <%= widget.details.html_safe %>
        </p>
        
        
    </div>
</div>