<% owner||= nil %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Widgets</h1>
  <%= link_to "New Widget", new_ci_widget_path("ci_widget[owner_id]": owner&.id, "ci_widget[owner_type]": owner&.class), {class: "btn btn-outline-primary"}  if !owner.blank? %>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="ci_widgets" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Details
        </th>
        <th>
          Placement
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% ci_widgets.each do |ci_widget| %>
        <%= render ci_widget %>
      <% end %>
    </tbody>
  </table>
</div>
