<div class="col-xl-6 d-none d-xl-block">
    <div
        class="position-relative bg-primary-subtle p-4 rounded"
    >                  
        <% if widget.image&.mime_type&.include?('video') %>
            <%= render "layouts/video", url: widget.image_url, no_card: true %>
        <% elsif widget.image&.mime_type&.include?('image') %>                      
            <div class="d-flex flex-row">
            <div class="">
                <div class="banner-img-1">
                <img
                    src="<%= widget.image_url %> "
                    alt=""
                    class=""
                />
                </div>
            </div>
            </div>
        <% else %>
            <%= widget.image_url %>
        <% end %>

    </div>
</div>