    <% if widget.image_placement.casecmp?("center") %>
        <div class="col-xl-12 d-xl-block">
    <% else %>
        <div class="col-xl-6 d-xl-block">
    <% end %>

            <div
                class="position-relative bg-primary-subtle p-4 rounded text-center"
            >
                <% if widget.image&.mime_type&.include?('video') %>
                    <%= render "layouts/video", url: widget.image_url, no_card: true %>
                <% elsif widget.image&.mime_type&.include?('image') %>
                        <img
                            src="<%= widget.image_url %> "
                            class="img-fluid object-fit-contain"
                        />
                <% elsif widget.embed_script.present? %>
                    <div class="ratio ratio-16x9">
                    <%= widget.embed_script.html_safe %>
                    </div>
                <% else %>
                    <%= widget.image_url %>
                <% end %>

            </div>
        </div>
