<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <% header = defined?(title) ? title : "Notes" %>
  <h1 class="h3 mb-0 text-gray-800"><%= header %></h1>
  <%= link_to "New Note", new_note_path("note[investor_id]": params[:investor_id], "note[entity_id]": current_user.entity_id), 
        {class: "btn btn-outline-primary"}  %>
</div>

<div class="table-responsive">

  <table id="notes" class="table table-bordered  dataTable ">
    <thead>
      <tr>
        <th>
          User
        </th>
        <th class="hideMobP">
          On
        </th>
        <th>
          Stakeholder
        </th>
        <th class="hideMobP">
          Details
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% notes.each do |note| %>
        <%= render partial: "/notes/note", locals: {note: note} %>
      <% end %>
    </tbody>
    
  </table>

</div>

