<tr id="capital_call_<%= capital_call.id %>">

    <%= render RansackTableRow.new(model: capital_call, columns:) %>

    <td>
      <%= link_to  t_common(:show), capital_call , {class: "btn btn-outline-primary ti ti-eye"}%>
    </td>

  </tr>
