<div class="associated_entity" data-controller="tabs tabdetails">


    <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#remittances-tab"
          data-action="click->tabdetails#loadData">Remittances</a>

      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#custom-notification-tab">
            Notification</a>
    </nav>

    <div class="tab-content" data-controller="datatable">

        <div id="remittances-tab" class="tab-pane fade in show active">
          <div id="remittances" class="associated_entity">
           <%= render "/capital_remittances/index", capital_call: capital_call,
                lazy_load_data: false, data_source: capital_remittances_path(capital_call_id: capital_call.id, all: true, status: "", verified: "", format: :json) %>
          </div>
        </div>

    </div>

    <div id="custom-notification-tab" class="tab-pane fade">
      <div id="custom_notifications" class="associated_entity">

          <%= render "custom_notifications/index", custom_notifications: capital_call.custom_notifications,owner: capital_call %>

      </div>  
    </div>

  </div>
