<p>Welcome <%= @email %>!</p>

<p>
    <% ia = InvestorAccess.where(email: @email).last %>
    <% if ia %>
        Your account for <%= ia.entity.name %> has been setup on CapHive.
    <% else %>
        Your account for <%= @resource.entity.name %> was created at CapHive.
    <% end %>

    Please click the button below to access your account.
</p>

<p class="btn btn-primary"><%= link_to 'Access Your Account', confirmation_url(@resource, confirmation_token: @token) %></p>
