<h3>Important Notice</h3>

<p>
    This is to inform you, that <%= @investor_advisor.user.first_name %> <%= @investor_advisor.user.last_name %> is added as Investor Advisor <% if @owner_name.present? %> for <%= @owner_name %>. <% end %>
</p>


<p class="btn btn-outline-primary">
    <%= link_to 'View Investor Advisor', investor_advisor_url(@investor_advisor, subdomain: @investor_advisor.entity.sub_domain) %>
</p>


