<% 
  widget_size ||= "col-md-6" 
  name ||= nil 
  args ||= {}
  uri_params ||= {}
  uri = URI("/capital_commitments?investor_id=#{@investor.id}")
%>
<div class="<%= widget_size %> d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body">            
        <%= turbo_frame_tag "capital_commitments_frame", target: "_top", src: "#{uri.to_s}" do %>            
        <%end%>
        <p class="mb-0"><%= name || "Commitments" %></p>
    </div>
  </div>
</div>
