<% 
  widget_size ||= "col-md-6" 
  name ||= nil 
  args ||= {}
  uri_params ||= {}
  
  instrument = args[:instrument]
  across = args[:across] # "first last" or "last 2"
  # Check if the instrument is provided in the arguments
  if instrument
    if across.nil? || across.downcase == "first last"
      # Get the valuations for the given instrument, first and last
      initial_valuation = @investor.valuations.by_instrument(instrument).order(valuation_date: :asc).first
      final_valuation =   @investor.valuations.by_instrument(instrument).order(valuation_date: :asc).last
    else
      # Get the valuations for the given instrument, last 2
      initial_valuation = @investor.valuations.by_instrument(instrument).order(valuation_date: :desc).offset(1).limit(1).first
      final_valuation =   @investor.valuations.by_instrument(instrument).order(valuation_date: :desc).first
    end
    # Load the uri for the value bridge
    uri = URI("/valuations/value_bridge?initial_valuation_id=#{initial_valuation.id}&final_valuation_id=#{final_valuation.id}")
  end
%>


<%= render(
      WidgetCardComponent.new(
        widget: widget,
        args: args,
        widget_size: widget.widget_size
      )
    ) do 
%>

  <% if instrument.present? %>
    <%= turbo_frame_tag "value_bridge_frame", target: "_top", src: "#{uri.to_s}" do %>            
    <%end%>
  <% else %>
    <div class="alert alert-danger">
      No instrument provided for the value bridge.
    </div>
  <% end %>
        
  
<% end %>

