
<div class="table-responsive" data-controller="datatable">

    <table id="tasks" class="table table-bordered dataTable">

        <thead>
            <tr>
                <th>
                    Details
                </th>
                <th>
                    Investor
                </th>
                <th>
                    Completed
                </th>
                <th>
                    User
                </th>

                <th>
                </th>
            </tr>
        </thead>

        <tbody id="tasks_body">
            <% tasks.each do |task| %>
                <%= render task %>
            <% end %>
        </tbody>
    </table>

</div>

