
<div id="<%= dom_id quick_link_step %>" class="col">
    <%= link_to quick_link_step.name.titleize, quick_link_step.link, class: "btn btn-outline-primary" %>
    <div class="form-text text-muted">  
      <%= quick_link_step.description %>
    </div>
</div>
