<% map = model.map_custom_fields %>
<% model.properties&.each do |k,v| %>
    <% custom_field = map[k] %>
    <% if custom_field.nil? || custom_field.show_to_user(current_user) %>
        <tr class="<%= collapsed ? 'collapse multi-collapse' : '' %>">
            <td>
                <%= custom_field&.human_label || k.to_s.humanize.titleize %>
            </td>
            <td>
                <% if custom_field && custom_field.renderer %>
                    <%= render custom_field.renderer, value: v, model: model %>
                <% else %>
                    <%= v %>
                <% end %>
            </td>
        </tr>
    <% end %>
<% end %>