<% model.properties&.each do |k,v| %>
    <tr class="<%= collapsed ? 'collapse multi-collapse' : '' %>">
        <td>
            <%= k.to_s.humanize.titleize %>
        </td>
        <td>
            <%= v %>
        </td>
    </tr>
<% end %>