<tr id="<%= dom_id form_type %>">
  <td>
    <%= form_type.name %>
  </td>
  <td>
    <%= link_to "Show" , form_type , {class: "btn btn-outline-primary" }%>
    <%= link_to "Edit" , form_type , {class: "btn btn-outline-success" } if policy(form_type).update? %>
  </td>
</tr>