<% stake, aggregate_investments = calculate_scenario(@entity, params) %>
            
<%= render "simple_simulator_form", stake: stake %>

<div class="table-responsive" data-controller="agginvestments">

    <table id="aggregate_investments" class="table table-bordered dataTable jqDataTable">

        <thead>
            <tr>
                <th>
                    Investor
                </th>
                <th>
                    Percentage
                </th>
                <th>
                    Full Diluted Percentage
                </th>
            </tr>
        </thead>

        <tbody>
            <% aggregate_investments.each do |aggregate_investment| %>
            
                <tr>

                    <td>
                        <%= aggregate_investment.investor_name %>
                    </td>
                    <td>
                        <%= aggregate_investment.percentage %> %
                    </td>
                    <td>
                        <%= aggregate_investment.full_diluted_percentage %> %
                    </td>
                </tr>

            <% end %>
        </tbody>
    </table>

</div>