<% widget_size ||= "col-md-6" %>
<div class="<%= widget_size %> d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body">
      <%= fund_distributions_by_quarter(fund) %>
      <p class="mb-0">Distribution</p>
    </div>
  </div>
</div>