<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Investment Snapshots</h1>
</div>

<div class="table-responsive" data-controller="datatable">

  <table id="investment_snapshots" class="table table-bordered dataTable jqDataTable">

    <thead>

      <tr>
          <th>
            As Of
          </th>
    
          <th>
              Category
          </th>
  
          <th>
              Funding Round
          </th>
          <th>
              Investor
          </th>
  
          <th>
              Date
          </th>
          
          <th>
              Instrument
          </th>            
          <th>
              Quantity
          </th>
          <th>
              Percentage Holding
          </th>
          <th>
              Fully Diluted
          </th>
          <th>
              Price
              (<%= current_user.entity.currency %>)
          </th>
          <th>
              Amount 
              (<%= current_user.entity.currency %>)
          </th>
          
          <th>
              Action
          </th>
      </tr>
  
    </thead>

    <tbody>
    <% @investment_snapshots.each do |investment_snapshot| %>
      <%= render investment_snapshot %>
    <% end %>
    </tbody>
  </table>

</div>