<div id="remittance_details" class="associated_entity" data-controller="tabs tabdetails">
  
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#payments-tab"
          data-action="click->tabdetails#loadData">Payments</a>
    <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>

    <% if capital_remittance.capital_commitment.unit_type.present? %>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#fund-units-tab"
            data-action="click->tabdetails#loadData">Units</a>
    <% end %>

  </nav>

  <div class="tab-content" data-controller="datatable">
    <div id="payments-tab" class="tab-pane fade in show active">
      <div id="payments" class="associated_entity">
        <%= render "/capital_remittance_payments/index", capital_remittance_payments: capital_remittance.capital_remittance_payments, capital_remittance: %>
      </div>
    </div>
  
    <div id="docs-tab" class="tab-pane fade in">
      <div id="docs" class="associated_entity">
        <%= render "/documents/index", documents: capital_remittance.documents, 
                owner: capital_remittance, entity: capital_remittance.entity %>
      </div>
    </div>

    <div id="fund-units-tab" class="tab-pane fade">
      <div id="fund_units" class="associated_entity">
        <%= link_to fund_units_path(owner_id: capital_remittance.id, owner_type: "CapitalRemittance"), 
                                class: "load_data_link", 
                                data: { turbo_frame: 'fund_units_list' } do %>
          <span>Loading...</span>
        <% end %>
        <%= turbo_frame_tag "fund_units_list", target: "_top" do %>
        <% end %>
      </div>     
    </div>


  </div>

</div>
