<%= money_to_currency (capital_remittance.due_amount), params %>
    <div class="hideMobP">
      <small class="text-muted hideMobP">
      <%= money_to_currency capital_remittance.committed_amount, params %> x 
      <%= capital_remittance.capital_call.percentage_called %> % -
      <%= money_to_currency capital_remittance.collected_amount, params %>
      </small>
</div>