<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Remittances</h1>
    <span>
    <% if params[:capital_call_id] %>
        <% capital_call = CapitalCall.find(params[:capital_call_id]) %>
        <%#= link_to "New Capital Remittance" , new_capital_remittance_path("capital_remittance[capital_call_id]": params[:capital_call_id]), {class: "btn btn-primary" } if policy(capital_call).update? %>

        <%= button_to "Capital Call Reminder", reminder_capital_call_path(id: params[:capital_call_id]), class: "btn btn-primary", data: {action: "click->confirm#popup", turbo:false, msg: "Send reminder for pending payments?", method: "post"} if policy(capital_call).reminder? %>

    <% end %>
    </span>
</div>

<div class="table-responsive">

    <table id="capital_remittances" class="table table-bordered dataTable jqDataTable">
        <thead>
            <tr>
                <th>
                    Investor
                </th>
                <th>
                    Status
                </th>
                <th>
                    Verified
                </th>
                <th>
                    Due Amount
                    <div class="hideMobP">
                        <small class="text-muted hideMobP">Committed Amount x Call Percentage - Collected Amount</small>
                    </div>
                </th>
                <th>
                    Collected Amount
                </th>
                
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% capital_remittances.each do |capital_remittance| %>
                <%= render capital_remittance %>
            <% end %>
        </tbody>
    </table>

</div>