<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Widgets</h1>
  <%= link_to "New Widget", new_ci_widget_path("ci_widget[ci_profile_id]": @ci_profile&.id), {class: "btn btn-outline-primary"}  if @ci_profile %>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="ci_widgets" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Ci Profile
        </th>
        <th>
          Entity
        </th>
        <th>
          Title
        </th>
        <th>
          Details
        </th>
        <th>
          Url
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% ci_widgets.each do |ci_widget| %>
        <%= render ci_widget %>
      <% end %>
    </tbody>
  </table>
</div>
