<div style="width: 100%; height: 85vh; overflow: hidden;">
  <iframe src="<%= ENV['OPEN_WEB_UI_URL'] %>" 
          style="width: 100%; height: 100%; border: none;" 
          allowfullscreen>
  </iframe>
</div>
