<h3>Dear <%= @holding.user.full_name %></h3>

<p>
    Your <%=@holding.investment_instrument%> have lapsed. 
</p>

<p>
    <%= render "/holdings/show", holding: @holding, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Holding', holding_url(@holding) %></p>
