<h3>Dear <%= @holding.user.full_name %></h3>

<p>
    Your <%=@holding.orig_grant_quantity%> holdings are now approved. 
</p>

<p>
    <%= render "/holdings/show", holding: @holding, current_user: nil %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Holding', holding_url(@holding, subdomain: @holding.entity.sub_domain) %></p>
