<%= render "/layouts/alerts" %>

<%= turbo_stream_from @import_upload %>
<%= render "/import_uploads/show", import_upload: @import_upload %>

<% if @import_upload.import_type=="Holding" %>
  <div class="associated_entity">
    <%= render "/holdings/index" , holdings: Holding.where(import_upload_id: @import_upload.id), secondary_sale: nil %>
  </div>
<% end %>
