
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= @secondary_sale.name %> : E-Signatures</h1>
</div>

<div class="table-responsive" data-controller="datatable">
    <table id="fund_document_esigns_table" class="table table-bordered dataTable jqDataTable">
        <thead>
        <tr>
        <th>Offer</th>
        <th>Document</th>
        <th>Owner Tag</th>
        <th>E-Sign Status</th>
        <th>E-Signatures</th>
        <th></th>
        </tr>
        </thead>

        <tbody>
        <% @secondary_sale.offers.includes(:documents).each do |offer|%>
            <% offer.documents.sent_for_esign.each do |doc| %>
                <%= render "documents/offer_esign_status",document: doc %>
            <% end %>
        <% end %>
        </tbody>

    </table>
</div>
