  div.minimalistBlack {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow-x: scroll;
  }

  .divTable.minimalistBlack .divTableBody .divTableCell {
    border-bottom: 1px solid #8b8b8d;
    padding: 0.75rem;
    vertical-align: top;
  }

  [data-bs-theme=light] .odd .divTableCell {
    background-color: #f9f9f9;
  }

  [data-bs-theme=light] .even .divTableCell {
    background-color: #fff;
  }

  .divTable.minimalistBlack .divTableHeading .divTableHead {
    background-color: #5d87ff;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #8b8b8d;
    border-top: 1px solid #8b8b8d;

    padding: 0.75rem;
    vertical-align: top;
  }
  .minimalistBlack .tableFootStyle {
    
  }
  .minimalistBlack .tableFootStyle {
    
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}