.kanban-disabled {
  pointer-events: none;
}

.kanban-disabled::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.offcanvas {
  z-index: 1050;
  position: fixed;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.offcanvas.show ~ .offcanvas-backdrop {
  display: block;
}

.dt-search {
  margin-right: auto;
}


.icon-large {
  transform: scale(1.5);
}

.task-list-container {
  margin-right: -15px; /* Adjust this value to reduce the space */
}

.task-header {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 0 !important;
}

.task-content {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.connect-sorting-content {
  margin-right: -10px; /* Adjust this value to reduce the space */
  margin-left: -10px;
}

.kanban-card {
  cursor: grab;
  left: 0px;
  top: 0px;
}

.move-to-next-column {
  display: inline;
}

.scrumboard {
  box-shadow: 0px 0px 5px 1px rgba(32, 32, 32, 0.3); // Slightly darker shadow on hover
  margin-bottom: 0px;
  margin-top: 0px;
  &:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3); // Slightly darker shadow on hover
  }

  .kanban_card {
    padding: 0;
  }
}


.simplebar-offset {
  right: 0px;
  bottom: 0px;
}

.simplebar-content {
  padding: 0px;
}

.simplebar-horizontal {
  visibility: visible;
}

.simplebar-vertical {
  visibility: visible;
}

.add-item-button {
  background-color: transparent;
  border: none;
  color: #fafafa;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-item-btn:hover {
  background-color: #f2f2f2;
}

.square-button {
  max-height: 60px;
}

.square-button i {
  font-size: 20px;
}

.margin-center {
  margin-bottom: 40px;
}

.mb-8 {
  margin-bottom: 15px;
}

.kanban-filter-hidden {
  display: none;
}

.add-column-button {
  font-size: 30px;
}

.mb-8 {
  margin-bottom: 15px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darker-shadow-offwhite {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Darker shadow
  border-radius: 8px; // Add this line to ensure rounded edges

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); // Slightly darker shadow on hover
    border-radius: 8px; // Ensure the rounded edges remain on hover
  }
}

.small-heading {
  font-size: 0.9rem;
}
