.ultra-cool-accordion .accordion-item {
  border: none !important;
  background: transparent !important;
  margin-bottom: 1.25rem;
}

.ultra-cool-accordion .accordion-button {
  border-radius: 16px !important;
  background: var(--bs-body-bg);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  // color: #334155;
  font-weight: 400;
  font-size: 1.05rem;
  padding: 1.25rem 1.5rem;
  transition: all 0.2s ease-in-out;
  // border: 1px solid #f1f5f9;
}

.ultra-cool-accordion .accordion-button:not(.collapsed) {
  display: none !important;
}

.ultra-cool-accordion .accordion-button::after {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.2s;
}

.ultra-cool-accordion .accordion-button:not(.collapsed)::after {
  filter: none;
  opacity: 1;
  // transform: rotate(180deg);
}

.ultra-cool-accordion .accordion-button:focus {
  box-shadow: none !important;
}

.ultra-cool-accordion .accordion-collapse {
  border: none;
  background: var(--bs-body-bg);
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-top: -1px;
}

.ultra-cool-accordion .accordion-body {
  padding: 1rem;
  border-top: 1px solid var(--bs-secondary-bg);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
