/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media all and (min-width: 768px) and (max-width: 959px) {
    th.col_1, td.col_1{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
    th.hideTab, td.hideTab{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}


table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 5px !important;
}


/* Make the header link a flex container */
th .sort_link {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  white-space: nowrap; /* Prevents wrapping */
}

/* Ensure the icons stack vertically and stay to the right */
th .sort-icons {
  display: inline-flex !important;
  flex-direction: column !important;
  margin-left: 0.25rem; /* small gap between text and icons */
}

/* Optional: adjust spacing or alignment for arrows */
th .sort-icons .arrow {
  line-height: 0.8; /* tighter stacking */
  margin-right: -7px;
}

