
div.field,
div.actions {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pagination-sm {
  .page-link {
    font-size: 0.75rem !important;
  }
}

.print_header {
  width: 300px;
}

.rounded-square {
  border-radius: 10% !important;
  height: 5rem;
  width: 5rem;
  margin-left: -5px;
}

#alert {
  color: #df4e4e;
  text-align: center;
  display: table;
  margin: 0 auto;
}

.alert-danger {
  ul {
    padding-inline-start: 20px;
  }
}

.field_with_errors {
  padding: 1px;
  color: rgb(233, 105, 105);
  input, textarea, select {
    border: 1px solid rgb(233, 105, 105);
  }
  // display: table;
}

label {
  display: block; }


input[type="file" i] {
  height: calc(1.5em + .75rem + 7px);
}


.associated_entity {
  margin-top: 30px;
  margin-bottom: 20px;
  h1 {
    font-size: 1.2rem !important;
  }
}

h1 {
  font-size: 1.4rem !important;
}

.alert > h2 {
  font-size: 1.0rem;
}


.navigation__link {
  font-size: 1rem;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d1d3f5 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d1d3f5 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d1d3f5 !important;
}

.form-check-input {
  display: block;
  width: 1.5em !important;
  height: 1.5em !important;
  border: grey 1px solid !important;
}

.form-radio {
  width: 3% !important;
  display: inline !important;
  vertical-align: middle !important;
}

.radio_label {
  padding-right: 10px;
}

// This is so that checkbox show up nicely on mobile
@media (min-width:320px)  {
  .form-checkbox {
    width: 6% !important;
  }
 }
@media (min-width:481px)  {
  .form-checkbox {
    width: 3% !important;
   }
}


.btn {
  margin: 1px;
}

.handle {
  cursor: grab;
}

.btn-group {
  .dropdown-menu.show {
    border-color: #4e73df;
  }
  // .dropdown-item {
  //   color: white !important;
  // }

  // .dropdown-item:focus, .dropdown-item:hover {
  //   font-weight: bold;
  //   background-color: #2ca87b !important;
  // }
}

#deal_grid_div {
  overflow-x:scroll;
  min-height:400px;
}

.badge {
  color: white !important;
  padding: .5em .7em !important;
  a {
    color: white !important;
    text-decoration: none !important;
  }
}

.task-done-checkbox {
  vertical-align: middle;
  width: 2rem !important;
  height: 2rem !important;
}

.document_video {
  max-height: 600px;
  margin: auto;
  width: 100%;
}

video { float: none; }

.table_divider {
  background-color: lightgray;
}

.toast-header {
  background-color: #4e73df !important;
  color: white !important;
}

.toast {
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
  min-width: 300px !important;
}

#toasts {
  width: 100%;
}

.container-fluid {
  padding-bottom: 50px !important;
  width: 100%;
  // height: 100%;
}

#capital_remittances.dataTable {
  overflow: visible !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  min-width: 300px;
  margin-right: 10px;
  border-radius: 0.4rem;
}


.turbo-progress-bar {
  height: 20px;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
}

div.divider {
  margin: 10px 0px;
  border: 1px solid var(--bs-primary);
}

.large_rich_text_area {
  min-height: 200px;
}

#deal_grid_view {
  overflow: auto;
  th, td, .btn {
    font-size: 1em;
  }

  .sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--bs-body-bg);
  }

  .sticky-col:hover {
    z-index: 1;
  }

  .first-col {
    width: 200px;
    min-width: 200px;
    max-width: 800px;
    left: 0px;
  }

  .deal_activity_cell {
    .dropdown {
      position: unset;
    }
  }
}

#currency_units_form, #remittance_filter, #kpi_reports_filter, #account_entries_filter {
  display: inline !important;

  .form-group, .form-control {
    display: inline;
    width:auto;
  }
}

.show_filter {
  .form-control {
    margin: 3px 3px 0 3px;
  }
}

.highcharts-label, .highcharts-text-outline {
    text {
      font-weight: normal !important;
    }
}


.investment_row_container {
  .card {
    margin-bottom: 30px;
    .card-body {
      margin-left: 30px;
    }
  }
  .delete-form-row {
    display: block;
    margin-bottom: 10px;
    height: auto;
  }display: inline;
}

.info {
  .button_to {
    display: inline;
  }
}

.dropdown-menu {
  .button_to {
    width: 100%;
  }
  z-index: 2;
}

.reset_password_prompt {
  .button_to {
    display: inline;
  }
}

.terms_modal {
  max-width: 90% !important;
  .modal-body {
    overflow-y: scroll;
    max-height: 75vh;
  }
}

$screen-xs-max: 786px;

.enable_whatsapp {

  .click_btn { display: none; }

  display: inline;
    @media only screen and (max-width: $screen-xs-max) {
      .qr_code { display: none; }
      .click_btn { display: block;}
    }
}

#persona_form {
  // margin-top: 15px;
  #persona {
    font-weight: 700;
    color: #4e73df;
  }

  option {
    padding: 30px;
    margin: 30px;
    line-height: 1.5em;
  }


}

#viewer {
  width:100%;
  @media all and (min-width: 480px) {
    height:900px;
  }
  @media all and (max-width: 479px) {
    height:500px;
  }

}

#pdf_viewer {
  width:100%;
  margin-bottom:30px;
  #viewer_label {
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
}

.button_to {
  display: inline-block;
  vertical-align: bottom;
}

.attachment_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

form {
  div.form-divider {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  lighten($color: #4e73df, $amount: 5);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
  }

  .form-group {
    margin: 15px 0px;

    label {
      display: unset;
      margin: 1px;
      font-weight: 800;
    }

    .form-control {
      margin-top: 5px;
    }
  }

  .nested-fields {
    margin-left: 0px !important;
    .form-group {
      margin-right: 10px;
      label {
        width: 100%;
        text-align: center;
      }
    }
  }
}

ul.vesting_schedule {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    margin: 5px;
  }
}

.subMenus {
  z-index: 3 !important;
}

#employee_calc_form {
  .small_text {
    display: inline;
    width: auto;
    max-width: 100px;
  }
  .desc {
    display: block;
  }
}

.entity_logo {
  max-width: 200px;
  max-height: 200px;
}

.progress {
  max-width: 300px;
  .progress_value {
    margin-top: 8px;
  }
}

.top_bar_logo {
  margin:0px;
  padding:0px;
  max-width:35px;
  max-height:35px;
}

.allocation_form {
  display: contents;
}

.form_wizard_faq {
  padding-top: 80px;
}

.inline_form {
  display: inline !important;
  .form-group, .form-control {
    display: inline;
    vertical-align: middle;
    width:auto;
  }
}

.faq {
	@media only screen and (max-width: $screen-xs-max) {
		display: none !important;
	}
}

.uppy-Dashboard-inner {
  width: 100% !important;
}
.uppy-Dashboard-AddFiles {
  width: 100%;
  margin: auto;
}

.uppy-Root {
  margin-top: 3px;
}

.uppy-FileInput-container {
  margin-bottom: 3px !important;
}


.docs_uploaded_check {
  margin-top: 2px;
  margin-bottom: 15px;
}

.center-div {
  margin: 10px 0px;
  form {
    margin: auto;
    .form-group {
      margin: auto;
      float: left;
      input {
        max-width: 180px;
        margin-left: 5px;
      }
    }
  }
}

.io_card {
  margin-bottom: 20px;
  .logo_cell {
    text-align: center;
    .io_logo {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 400px;
      }
    }
  }
  .inner_card {
    border: 2px solid #ebf1f6
  }

  .io_facts {
    .card {
      margin-bottom: 3px;
    }
    margin-bottom: 10px;
  }
}

[data-bs-theme=dark] .logo-light {
  display: none;
}

[data-bs-theme=light] .logo-dark {
  display: none;
}

[data-bs-theme=dark] .sidebar-link span {
    color: white !important;
}

[data-bs-theme=dark] .topbar .navbar .navbar-nav .nav-item .nav-link {
  color: white !important;
}

[data-bs-theme=dark] .sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

[data-bs-theme=dark] .paginate_button {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

[data-bs-theme=dark] .uppy-FileInput-btn {
  color: #7c8fac !important;
  border-color: #7c8fac !important;
}

[data-bs-theme=dark] .uppy-StatusBar {
  background-color: unset !important;
}

[data-bs-theme=dark] .uppy-StatusBar-status {
  color: #7c8fac !important
}

[data-bs-theme=dark] trix-toolbar .trix-button {
  background: #7c8fac !important
}

.sidebar-brand-icon {
  img {
    margin: 15px 5px;
    height: 50px;
    max-width: 200px;
  }
}

.logo {
  max-width: 300px;
}

.page_alerts {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.show_page_label {
  width: 25%;
}

.carousel-control-prev, .carousel-control-next {
  width: 2% !important;
}

.carousel-inner {
  margin-left: 2%;
  margin-right: 2%;
  width: 96% !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }


 .uppy-size--md .uppy-StatusBar-actionBtn--done {
    display: none;
 }


 .fa-copy {
  cursor: pointer;
 }


.notice_image_div {
  display: flex;
  justify-content: center;
  align-items: center;

  .notice_image {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.notice_items {
  .card {
    margin-bottom: 5px;
    a {
      color: var(--bs-primary);
    }
    .card-body {
      padding: 15px 15px;
    }
  }
}

#remittance_filter {
  input[type="date"].form-control {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
  }
}

.json_table {
  th {
    font-weight: normal;
  }
}
.aml_response{
  overflow: unset;
  word-wrap: break-word;
  overflow-x: auto;
  page-break-inside: unset;
  white-space: pre-wrap;
}

.inline_parent {
  // border: 1px solid black;
  // margin: 1rem;
  // padding: 2rem 2rem;
  text-align: center;
}
.inline_child {
  display: inline-block;
  // border: 1px solid red;
  // padding: 1rem 1rem;
  // vertical-align: middle;
}

.side-by-side-container {
  display: flex; /* Use flexbox to create a flexible container */
}

.side-by-side-view {
  flex: 1; /* Make each view take up equal space within the container */
  /* Add any other desired styles for your views */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.jstree-children {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats{
  .mb-4, .my-4 {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 10px !important;

    .text-xs {
      font-size: 0.8em !important;
    }
  }
}

.small-badge {
  font-size: 60% !important;
}

.sidebar a:hover {
    color: rgb(255, 115, 0) !important;
    font-weight: bold !important;
}

.topbar {
  padding: 0px 10px;
  a span:hover {
    color: rgb(255, 115, 0) !important;
  }
}

.hidden_form_field {
  display: none;
}

.modal-header {
  background-color: #4e73df !important;
  h5 {color: white !important;}
  font-weight: bold;
}

.modal-body {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.row-checkbox {
  min-width: 20px !important;
  width: auto !important;
}

.no-wrap {
  white-space: nowrap;
}

.navbar-nav {
  .badge {
    margin-left: 5px;
  }
}

.device-logo {
  max-height: 400px !important;
  object-fit: contain;
}

.ci-logo {
  height: 150px !important;
  margin: auto;
  margin-bottom: 10px;
}

.cc-card-logo {
  max-height: 80px !important;
  max-width: 80px !important;
  margin: auto;
}

.title-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0.1em;
  margin: 10px 0px 40px 0px;
  span {
    background:#fff;
    padding:0 10px;
    color: #4e73df;
  }
}

.card-title {
  a{
    --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  }
}

.card-header {
  h6 {
    width: 80%;
    display: inline-flex;
  }

  .show_details_link {
    float: right;
  }
}

.container-fluid {
  nav {
    .nav-link {
      min-width: 120px;
    }
  }
}


/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {

  // Smaller buttons in mobile
  .btn {
      padding: 0.25rem 0.5rem !important;
      font-size: 0.875rem !important;
      line-height: 1.5 !important;
  }

  // Smaller headers in mobile
  h1, h2, h3, h4 {
    font-size: 1.3rem !important;
  }

  .associated_entity {
    h1 {
      font-size: 1.2rem !important;
    }
  }

  // Smaller font size for alerts in mobile
  .page_alerts {
    font-size: 1.0em;
  }

  // Ensure tables content wraps in mobile
  .card {
    .dataTable td:last-child {
      word-break: break-word;
    }
  }


}


a {
  text-decoration: none !important;
}

select {
  appearance: auto !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.sort_link  {
  color: white;
  text-decoration: none;
}

.filter_form {
  .col, .action {
    margin: 10px;
  }

  margin-bottom: 10px;
}

.action.float-end {
  padding-top: 12px;
}


.ag-row .ag-cell {
  display: flex;
  // justify-content: center; /* align horizontal */
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
}


.ag-root-wrapper-body.ag-layout-normal {
  height: 60% !important;
}


.ag-header-cell {
  background-color: var(--bs-primary) !important;
  color: white !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}
.ag-header-icon {
  color: white !important;
  // background-color: white !important;
}

.ag-panel.ag-default-panel.ag-dialog.ag-ltr.ag-popup-child {
  top: 100px !important;
}

.progress, .progress-stacked {
  --bs-progress-height: 12px !important;
}

.badge {
  margin: 2px;
}

.ag-side-bar.ag-unselectable.ag-side-bar-right.ag-focus-managed {
  max-height: 800px !important;
}
.ag-overlay {
  position: unset !important;
}
.small_logo {
  max-height: 100px;
}


.topbar {
  .navbar {
    .message-body {
      i {
        font-size: 2em;
      }
    }
  }

  .simplebar-wrapper {
    max-height: 600px !important;
  }
}


.nav.nav-pills {
  .nav-link {
    text-align: center;
    min-width: 160px !important;
    // border: 1px dotted lighten($color: lightgray, $amount: 10) ;
    margin-right: 5px;
    margin-bottom: 2px;
  }
}

.container-fluid  {
  table {
    td > a:not(.btn)  {
      color: var(--bs-primary);
    }
  }

  form {
    a:not(.btn) {
      color: var(--bs-primary);
    }
  }

}

@media only screen and (max-width: 450px) {
  .card-body {
    padding: var(--bs-card-spacer-y) 15px !important; //var(--bs-card-spacer-x);
  }
}


[data-layout=vertical] body[data-sidebartype=mini-sidebar] .left-sidebar .left-logo {
  display: none;
}

.nav-link:hover {
    background-color: var(--bs-light-primary);
}


.hero-content  {
  div {
    font-size: 1.1rem;
  }
}

h6 {
  a {
    color: var(--bs-primary);
  }
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 10%;
  left: 100%;
  margin-left: 0px;
  margin-top: -1px;
}

// To open dropdown buttons on hover
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}



.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hscrollable { overflow: scroll; overflow-y:hidden; }

.btn-close {
  margin-left: auto; /* Push the button to the far right */
}

.readonly-field {
  background-color: #f0f0f0; /* Light gray background */
  color: #999; /* Gray text color */
  cursor: not-allowed; /* Change cursor to indicate non-interactivity */
}

.custom-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Adjust this to control space between text and underline */
}

.custom-underline::after {
  content: "";
  position: absolute;
  width: 110%; /* Adjust this to control the length of the underline */
  height: 2px; /* Adjust this to control the thickness of the underline */
  background-color: currentColor; /* This makes the underline color same as text color */
  left: -5%; /* Adjust this to control the starting position of the underline */
  bottom: 0;
}

.preview {
  .io_facts {
    align-items: center;
    justify-content: center;
    .card {
      margin-bottom: 3px;
    }
    margin-bottom: 5px;
  }

  .card {
    margin: 5px;
    padding: 5px 5px;
  }
  .contained {
    overflow: hidden;
    height: 100%;
  }
  .card-body {
    margin: 5px;
    padding: 5px 5px;
  }
  .ci-logo {
    max-width: 100%; /* Ensure the logo fits within the width of the parent */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the logo if the parent container is centered */
  }
  .thin-padding {
    padding: 5px;
  }

  .thin-margin {
    margin: 5px;
  }

  .contained {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .icon-container {
    flex-shrink: 0; /* Prevent the icon from shrinking */
    max-width: 100%; /* Ensure it doesn't exceed its parent */
  }

  .text-container {
    flex-grow: 1; /* Allow text to take up remaining space */
    max-width: 100%; /* Ensure it doesn't exceed its parent */
  }

  .text-wrap {
    white-space: nowrap; /* Prevent text from overflowing */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }

  .shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Darker shadow

    &:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); // Slightly darker shadow on hover
    }
  }

}


.steps {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .col {
      flex: 1;
      display: flex;
      flex-direction: column;
  }

  .card {
      display: flex;
      flex-direction: column;
      height: 100%;
  }

  .card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
  }

  .progress-bar-wrapper {
    position: absolute;
    bottom: 20px;
    width: 85%;
    padding: 0 15px; /* Adjust the padding as necessary to fit within the card */
  }

  .progress-bar {
      height: 6px;
  }

}

.text-wrap {
  white-space: nowrap; /* Prevent text from overflowing */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.vertical-align-top {
  vertical-align: top;
}

.fees-list {
  list-style-type: none;
  padding-left: 0;
  font-weight: lighter;
  margin-top: 8px;
}

.fee-item {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.fee-item .fee-name {
  flex: 1;
}

.fee-item .fee-description {
  flex: 1;
}

.fee-item .fee-amount {
  flex: 1;
}

.d-sm-flex {
  @media (min-width: 576px) {
    h1 {
      margin-left: 10px;
    }
  }
}

.search-container {
  max-width: 400px; /* Set a max-width if needed */
  flex-grow: 1; /* Allow the container to grow */
  position: relative; // Ensure the spinner is positioned relative to this container
}

#search_spinner {
  display: none; /* Hide the spinner by default */
  width: 1.0rem; // Adjust size as needed
  height: 1.0rem; // Adjust size as needed
  position: absolute;
  right: 10px;
  top: 32%; // Vertically center the spinner - currently centering it in the parent container (maybe)
  transform: translateY(-50%); // Vertically center the spinner
  animation: spin 0.75s linear infinite;
}

.search-form-input{
  width: 100%;
  max-width: 400px;
}

.search-form-per-page{
  max-width: 160px;
  #per_page_input {
    width: 90px;
  }
}

// Define the keyframes for spinning animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.handle {
  margin-right: 8px;
  vertical-align: middle;
}

// Remove the default spinner styling for number inputs
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.markup {
  h2 {
    font-size: 1.2rem;
  }
  ul {
    list-style: inherit;
    padding-left: 25px;
  }
}

.right-align-cell {
  text-align: right !important;
  display: unset !important;
}


iframe {
  overflow: hidden;
  scrollbar-width: none;
}

.role {
  font-weight: bold;
  margin-bottom: 5px;
}

.markdown-body {
  padding: 10px 15px;

  table {
    table-layout: fixed; /* Ensures columns take fixed space */
    width: 100%;
    max-width: 80vw !important;
    border-collapse: collapse;
  }

  td, th {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    padding: 8px;
    max-width: fit-content; /* Prevents overflow */
    overflow-wrap: break-word;
  }

  li {
    white-space: normal;        /* Allow wrapping */
    word-wrap: break-word;      /* Break long words */
    word-break: break-word;     /* Ensure long strings like URLs break */
    overflow-wrap: break-word;  /* For better browser compatibility */
  }


}

#chat_box {
  .input-group-append {
    margin-left: 5px !important;
  }
}

.badge.ti, .dropdown-item.ti::before, .btn.ti::before, .dropdown-item .ti, .btn .ti {
  margin-right: 0.2rem !important;
}

.breadcrumbs .ti {
  margin-right: 0.0rem !important;
}

.sort-icons {
  margin-left: 2px;
  font-size: 0.9em;
}

.sort-icons .arrow {
  color: #aaa; /* default grey */
  margin-left: 2px;
}

button:disabled {
  color: lightgray !important; /* or use #6c757d for Bootstrap-like muted text */
  border-color: lightgray !important;
  cursor: not-allowed; /* Optional: change the cursor */
  opacity: 0.65 !important;        /* Optional: consistent with Bootstrap style */
  pointer-events: auto !important; /* ensure the cursor change still applies */
}

#help_slide_out {
  min-width: 40%;
  button.badge {
    border: 0px !important;
  }
}

.wide-tooltip {                /* the class we passed above   */
  --bs-tooltip-max-width: 600px !important;
  .tooltip-inner {        /* the element that holds the text     */
    text-align: left;                   /* override Bootstrap’s centre align   */
    white-space: normal;                /* keep wrapping behaviour             */
    font-size: 0.9rem; /* adjust the font size as needed */
  }
}

#portfolioReportTabs {
  .ms-3{
    color: black !important;
  }
}


#kpi_reports_filter .select2-container {
  width: 300px !important;   /* force width */
  min-width: 200px !important;
  max-width: 300px !important;
  display: inline-block !important;
}

#kpi_reports_budget_grid {
  thead th {
    font-weight: 600 !important;
  }

  a {
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
  }
}

.portfolio-scenario-div .toggle-link .hide-text {
  display: none;
}

.portfolio-scenario-div .toggle-link.collapsed .show-text {
  display: inline;
}

.portfolio-scenario-div .toggle-link.collapsed .hide-text {
  display: none;
}

.portfolio-scenario-div .toggle-link:not(.collapsed) .show-text {
  display: none;
}

.portfolio-scenario-div .toggle-link:not(.collapsed) .hide-text {
  display: inline;
}


.card {
  .card-title{
    font-weight: 700 !important;
  }
}

.dashboard-nav {
  background-color: var(--bs-primary); /* fallback to dark gray */
}

.customizer-btn .ti {
  margin-right: 0 !important;
}
