
div.field,
div.actions {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pagination-sm {
  .page-link {
    font-size: 0.75rem !important;
  }
}

.print_header {
  width: 300px;
}

.rounded-square {
  border-radius: 10% !important;
  height: 5rem;
  width: 5rem;
  margin-left: -5px;
}

#alert {
  color: #df4e4e;
  text-align: center;
  display: table;
  margin: 0 auto;
}

.alert-danger {
  ul {
    padding-inline-start: 20px;
  }
}

.field_with_errors {
  padding: 1px;
  color: rgb(233, 105, 105);
  input, textarea, select {
    border: 1px solid rgb(233, 105, 105);
  }
  // display: table;
}

label {
  display: block; }


input[type="file" i] {
  height: calc(1.5em + .75rem + 7px);
}


.associated_entity {
  margin-top: 30px;
  margin-bottom: 20px;
  h1 {
    font-size: 1.3rem !important;
  }
}

h1 {
  font-size: 1.5rem !important;
}

.alert > h2 {
  font-size: 1.0rem;
}


.navigation__link {
  font-size: 1rem;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d1d3f5 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d1d3f5 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d1d3f5 !important;
}

.form-check-input {
  display: block;
}

.form-radio {
  width: 3% !important;
  display: inline !important;
  vertical-align: middle !important;
}

.radio_label {
  padding-right: 10px;
}

// This is so that checkbox show up nicely on mobile
@media (min-width:320px)  {
  .form-checkbox {
    width: 6% !important;
  }
 }
@media (min-width:481px)  {
  .form-checkbox {
    width: 3% !important;
   }
}


.btn {
  margin: 1px;
}

.handle {
  cursor: grab;
}

.btn-group {
  .dropdown-menu.show {
    border-color: #4e73df;
  }
  // .dropdown-item {
  //   color: white !important;
  // }

  // .dropdown-item:focus, .dropdown-item:hover {
  //   font-weight: bold;
  //   background-color: #2ca87b !important;
  // }
}

#deal_grid_div {
  overflow-x:scroll;
  min-height:400px;
}

.badge {
  color: white !important;
  padding: .5em .7em !important;
  a {
    color: white !important;
    text-decoration: none !important;
  }
}

.task-done-checkbox {
  vertical-align: middle;
  width: 2rem !important;
  height: 2rem !important;
}

.document_video {
  max-height: 600px;
  margin: auto;
  width: 100%;
}

video { float: none; }


.nav-link.active {
  background-color: #6484e3 !important;
  color: white !important;
}

.nav-tabs {
  border-bottom: 0px solid white !important;  
}

.nav-tabs .nav-link {
  margin-right: 3px;
  margin-bottom: 3px !important;
  background-color:lighten($color: cornflowerblue, $amount: 30);
  color: darkgray;
}

.nav-link:hover {
  font-weight: 500;
  border-color: lighten(#4e73df, 10%) !important;
}

.table_divider {
  background-color: lightgray;
}

.toast-header {
  background-color: #4e73df !important;
  color: white !important;
}

.toast {
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
  min-width: 300px !important;
}

#toasts {
  width: 100%;
}

.container-fluid {
  padding-bottom: 50px !important;
  width: 100%;
  // height: 100%;
}

div.dataTables_wrapper div.dataTables_filter input {
  min-width: 300px;
  margin-right: 10px;
  border-radius: 0.4rem;
}

.turbo-progress-bar {
  height: 20px;
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;

}

div.divider {
  margin: 30px 0px;
  border: 3px solid white;
}

.large_rich_text_area {
  min-height: 200px;
}

#deal_grid_view {
  overflow: auto;
  th, td, .btn {
    font-size: 1em;
  }

  .sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
  }

  .sticky-col:hover {
    z-index: 1;
  }

  .first-col {
    width: 200px;
    min-width: 200px;
    max-width: 800px;
    left: 0px;
  }

  .deal_activity_cell {
    .dropdown {
      position: unset;
    }
  }
}

#currency_units_form, #remittance_filter, #kpi_reports_filter, #account_entries_filter {
  display: inline !important;

  .form-group, .form-control {
    display: inline;
    width:auto;
  }
}

.nested_holdings {
  margin: 5px 40px;
  th, td {
    font-size: 0.9em;
  }

  table {
    width: auto;
    min-width: 50%;
  }
}


.highcharts-label, .highcharts-text-outline {
    text {
      font-weight: normal !important;
    }
}


.investment_row_container {
  .card {
    margin-bottom: 30px;
    .card-body {
      margin-left: 30px;
    }
  }
  .delete-form-row {
    display: block;
    margin-bottom: 10px;
    height: auto;
  }display: inline;
}

.info {
  .button_to {
    display: inline;
  }
}

.reset_password_prompt {
  .button_to {
    display: inline;
  }
}

.terms_modal {
  max-width: 90% !important;
  .modal-body {
    overflow-y: scroll;
    max-height: 75vh;
  }
}

$screen-xs-max: 786px;

.enable_whatsapp {

  .click_btn { display: none; }

  display: inline;
    @media only screen and (max-width: $screen-xs-max) {
      .qr_code { display: none; }
      .click_btn { display: block;}
    }
}

#persona_form {
  // margin-top: 15px;
  #persona {
    font-weight: 700;
    color: #4e73df;
  }

  option {
    padding: 30px;
    margin: 30px;
    line-height: 1.5em;
  }


}

#viewer {
  width:100%;
  @media all and (min-width: 480px) {
    height:900px;
  }
  @media all and (max-width: 479px) {
    height:500px;
  }

}

#pdf_viewer {
  width:100%;
  margin-bottom:30px;
  #viewer_label {
    margin: auto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
}

.button_to {
  display: inline-block;
  vertical-align: bottom;
}

.attachment_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

form {
  div.form-divider {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  lighten($color: #4e73df, $amount: 5);
    color: white;
    font-size: 1.1em;
    font-weight: 600;
  }

  .form-group {
    margin: 15px 0px;

    label {
      display: unset;
      margin: 1px;
    }
  }

  .nested-fields {
    margin-left: 0px !important;
    .form-group {
      margin-right: 10px;
      label {
        width: 100%;
        text-align: center;
      }
    }
  }
}

ul.vesting_schedule {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    margin: 5px;
  }
}

.subMenus {
  z-index: 3 !important;
}

#employee_calc_form {
  .small_text {
    display: inline;
    width: auto;
    max-width: 100px;
  }
  .desc {
    display: block;
  }
}

.entity_logo {
  max-width: 200px;
  max-height: 200px;
}

.progress {
  max-width: 300px;
  .progress_value {
    margin-top: 8px;
  }
}

.top_bar_logo {
  margin:0px;
  padding:0px;
  max-width:200px;
  max-height:60px;
}

.allocation_form {
  display: contents;
}

.form_wizard_faq {
  padding-top: 80px;
}

.inline_form {
  display: inline !important;
  .form-group, .form-control {
    display: inline;
    vertical-align: middle;
    width:auto;
  }
}

.faq {
	@media only screen and (max-width: $screen-xs-max) {
		display: none !important;
	}
}

.uppy-Dashboard-inner {
  width: 100% !important;
}
.uppy-Dashboard-AddFiles {
  width: 100%;
  margin: auto;
}

.docs_uploaded_check {
  margin-top: 2px;
  margin-bottom: 15px;
}

.center-div {
  margin: 10px 0px;
  form {
    margin: auto;
    .form-group {
      margin: auto;
      float: left;
      input {
        max-width: 180px;
        margin-left: 5px;
      }
    }
  }
}

.io_card {
  margin-bottom: 20px;
  .io_logo {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// .sidebar-dark .nav-item .nav-link i {
//   color: lighten(#4e73df, 5%) !important;  
// }

// .sidebar .nav-item .nav-link span {
//   color: #4e73df;
// }

// .sidebar-dark hr.sidebar-divider {
//   border-top: 1px solid lightgray !important;
// }

.sidebar-brand-icon {
  img {
    height: 50px;
  }
}

.logo {
  max-width: 300px;
}

.page_alerts {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.show_page_label {
  width: 25%;
}

.carousel-control-prev, .carousel-control-next {
  width: 2% !important;
}

.carousel-inner {
  margin-left: 2%;
  margin-right: 2%;
  width: 96% !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }


 .uppy-size--md .uppy-StatusBar-actionBtn--done {
    display: none;
 }


 .fa-copy {
  cursor: pointer;
 }

 .breadcrumb {
    background-color: lighten(#4e73df, 5%) !important;
    // background-image: linear-gradient(180deg, #4e73df 10%, #4e73df 100%);
    background-size: cover;
    padding: 10px;
    li a {
      color: white;
      font-size: 1em;
      @media (max-width: 480px) {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 150px;
      }
    }
 }

.breadcrumb-item + .breadcrumb-item::before {
  color: white !important;
}

.notice_image_div {
  display: flex;
  justify-content: center;
  align-items: center;

  .notice_image {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

#remittance_filter {
  input[type="date"].form-control {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
  }
}

.json_table {
  th {
    font-weight: normal;
  }
}
.aml_response{
  overflow: unset;
  word-wrap: break-word;
  overflow-x: auto;
  page-break-inside: unset;
  white-space: pre-wrap;
}

.inline_parent {
  // border: 1px solid black;
  // margin: 1rem;
  // padding: 2rem 2rem;
  text-align: center;
}
.inline_child {
  display: inline-block;
  // border: 1px solid red;
  // padding: 1rem 1rem;
  // vertical-align: middle;
}

.side-by-side-container {
  display: flex; /* Use flexbox to create a flexible container */
}

.side-by-side-view {
  flex: 1; /* Make each view take up equal space within the container */
  /* Add any other desired styles for your views */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.jstree-children {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats{
  .mb-4, .my-4 {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 10px !important;

    .text-xs {
      font-size: 0.8em !important;
    }
  }
}

.small-badge {
  font-size: 60% !important;
}

.sidebar a:hover {
    color: rgb(255, 115, 0) !important;
    font-weight: bold !important;
}

.topbar {
  padding: 0px 10px;
  a span:hover {
    color: rgb(255, 115, 0) !important;
  }
}
  
.hidden_form_field {
  display: none;
}

.modal-header {
  background-color: #4e73df !important;
  color: white;
  font-weight: bold;
}
.modal-body {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.row-checkbox {
  min-width: 20px !important;
  width: auto !important;
}

.no-wrap {
  white-space: nowrap;
}

.navbar-nav {
  .badge {
    margin-left: 5px;
  }
}

.devise-logo {
  margin-top: 10px;
}

.devise-logo {
  object-fit: contain;
  max-width:100%;
  max-height:100%;  
}

#login_page {
  // margin-top: auto;

  hr {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  

  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  
  .bg-login-image {
    // background-color: #4e73df;    
  }
  
  .login-right {
    background-color: lighten($color: lightgray, $amount: 15);
    border-left: 1px solid lightgray;
  }
  
  .login-left {
    // background-color: #4e73df;
    width: 100%;
    height: 100%;
    // margin: unset;
    // vertical-align: middle;
  }
  // background-color: #4e73df;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.title-line {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0.1em;
  margin: 10px 0px 40px 0px; 
  span { 
    background:#fff; 
    padding:0 10px; 
    color: #4e73df;
  }
}

.card-header {
  h6 {
    width: 80%;
    display: inline-flex;
  }

  .show_details_link {
    float: right;
  }
}

.container-fluid {
  nav {
    .nav-link {
      min-width: 120px;
    }
  }
}


/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
  
  // Hide stuff in mobile view
  .hideMobP {
      display:none;
      width:0;
      height:0;
      opacity:0;
      visibility: collapse;
  }

  // Smaller buttons in mobile
  .btn {
      padding: 0.25rem 0.5rem !important;
      font-size: 0.875rem !important;
      line-height: 1.5 !important;
  }

  // Smaller headers in mobile
  h1, h2, h3, h4 {
    font-size: 1.3rem !important;
  }

  .associated_entity {
    h1 {
      font-size: 1.2rem !important;
    }
  }

  // Smaller font size for alerts in mobile
  .page_alerts {
    font-size: 1.0em;
  }

  // Ensure tables content wraps in mobile
  .card {
    .dataTable td:last-child {
      word-break: break-word;
    }
  }

  
}


a {
  text-decoration: none !important;
}

select {
  appearance: auto !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.sort_link  {
  color: white;
  text-decoration: none;
}

.filter_form {
  .col, .action {
    margin: 10px;
  }

  margin-bottom: 10px;
}


.ag-row .ag-cell {
  display: flex;
  // justify-content: center; /* align horizontal */
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
}


.ag-root-wrapper-body.ag-layout-normal {
  height: 100% !important;
}


.ag-header-cell {
  background-color: #6484e3 !important;
  color: white !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}
.ag-header-icon {
  color: white !important;
  // background-color: white !important;
}