    <!-- Nav Item - Pages Collapse Menu -->
        
        <% if current_user.enable_investments %>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/entities/investor_entities">
                <span><i class="fas fa-xl fa-fw fa-money-bill"></i></span>
                <span class="hide-menu">Investments</span>
            </a>
            </li>
        <% end %>

        <% if current_user.enable_deals %>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/deal_investors?for_investor=true">
                <span><i class="fas fa-xl fa-fw fa-briefcase"></i></span>
                <span class="hide-menu">Deals</span>
            </a>
            </li>
        <% end %>

        <% if current_user.enable_secondary_sale %>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/secondary_sales">
                <span><i class="fas fa-xl fa-fw fa-briefcase"></i></span>
                <span class="hide-menu">Secondary Sales</span>
            </a>
            </li>
        <% end %>

        <% if current_user.enable_approvals %>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/approvals">
                <span><i class="fas fa-xl fa-fw fa-stamp"></i></span>
                <span class="hide-menu">Approvals</span>                        
            </a>
            </li>
        <% end %>


    
