
    <!-- Nav Item - Pages Collapse Menu -->
    <% if current_user.enable_investors %>
        <li class="sidebar-item">                
            <a class="sidebar-link has-arrow" href="/investors" data-bs-toggle="collapse" data-bs-target="#investorMenus">
                <span><i class="ti ti-users"></i></span>
                <span class="hide-menu">Stakeholders</span>
            </a>

            <ul aria-expanded="false" class="collapse first-level">

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/dashboard_widgets/dashboard?dashboard_name=Ops Dashboard">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu">IR Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investors/new?investor[entity_id]=<%=current_user.entity_id%>">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu">New Stakeholder</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investors">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu">View Stakeholders</span>                    
                    </a>
                </li>
                <% if current_user.enable_approvals %>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/approvals">
                            <div class="round-16 d-flex align-items-center justify-content-center">
                                <i class="ti ti-chevron-right fs-2"></i>
                            </div>
                            <span class="hide-menu">Approvals</span>
                        </a>
                    </li>
                <% end %>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/notes">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu">Notes</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investor_accesses?approved=false">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu">Pending Access</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investor_accesses">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-chevron-right fs-2"></i>
                        </div>
                        <span class="hide-menu">All Stakeholder Access</span>                    
                    </a>
                </li>
            </ul>

        </li>
    <% end %>

    <% if current_user.enable_documents %>
        <li class="sidebar-item"> 
            <a class="sidebar-link" href="/documents">
                <span><i class="ti ti-files"></i></span>
                <span class="hide-menu">Documents</span>
            </a>
        </li>
    <% end %>


    <% if current_user.enable_investments %>
        <%= render "/layouts/sidebars/investments_menus" %>
    <% end %>

    <% if current_user.enable_deals %>
        <li class="sidebar-item"> 
            <a class="sidebar-link" href="/deals">
                <span><i class="ti ti-briefcase"></i></span>
                <span class="hide-menu">Deals</span>
            </a>
        </li>
    <% end %>



    
