<h1>Custom Grid View Attributes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Present in Grid View Preference</th>
    </tr>
  </thead>
  <tbody>
    <% @custom_grid_view.grid_preferences.each do |attribute, key| %>
      <% preference = @custom_grid_view.grid_view_preferences.find_by(id: attribute) %>
      <tr>
        <td><%= key.to_s.humanize %></td>
        <td>
          <%= preference.selected ? 'Yes' : 'No' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Edit", edit_custom_grid_view_path(@custom_grid_view), class: "btn btn-outline-success" %>
