
<tr id="<%= dom_id message %>">
  <td>
      <% if message.entity_id == current_user.entity_id %>
        <%= link_to message.user.name, messages_path(user_id: message.user_id) %>
      <% else %>
        <%= message.user.name %>
      <% end %>
  </td>  
  <td>
    <% if message.entity_id == current_user.entity_id %>
    <% end %>
  </td>
  <td>
      <%= message.content %>
  </td>
  <td>
  </td>  
</tr>
