

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nudges</h1>
    <%= link_to "New Nudge" , new_nudge_path("nudge[user_id]": current_user.id), {class: "btn btn-outline-primary" } %>
  </div>

  <div class="table-responsive" data-controller="datatable">

  <table id="nudges" class="table table-bordered dataTable jqDataTable">

    <thead>
      <tr>
        <th>
          To
        </th>
        <th>
          Subject
        </th>
        <th>
          User
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @nudges.each do |nudge| %>
        <%= render nudge %>
      <% end %>
    </tbody>
  </table>

  </div>