<% # sometimes we render the partial directly instead of going through the controller
   # the controller does sorting but when the partial is rendered we sort the valuations here
    valuations = valuations.order(valuation_date: :desc) if valuations && valuations.respond_to?(:arel) && valuations.arel.orders.blank? %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Valuations</h1>
    <%
      owner_id = params[:owner_id] || local_assigns[:owner_id]
      owner_type = params[:owner_type] || local_assigns[:owner_type]
    %>
    <span>
    <%= link_to "New Valuation",
        new_valuation_path("valuation[owner_id]": owner_id, "valuation[owner_type]": owner_type),
        {class: "btn btn-outline-primary"}  %>


    <%= link_to "Value Bridge",
        value_bridge_valuations_path("portfolio_company_id": owner_id),
        {class: "btn btn-outline-primary"} if owner_type == "Investor" %>

    <%= link_to "Import Valuations",
                  new_import_upload_path("import_upload[owner_id]": owner_id,
                  "import_upload[owner_type]": owner_type,
                  "import_upload[import_type]": "Valuation",
                  "sample_upload": "VALUATION_SAMPLE"),
                  { class: "btn btn-outline-primary"}   %>

    </span>
  </div>

  <div class="table-responsive" data-controller="datatable">

    <table id="valuations" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <th>
            Instrument
          </th>

          <th>
            Valuation Date
          </th>
          <th>
            Per Share Value
          </th>
          <th>
            Currency
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
      <% valuations.each do |valuation| %>
        <%= render valuation %>
      <% end %>
      </tbody>
    </table>

  </div>
