<h3>Dear <%= @user.full_name %></h3>

<% if @task.assigned_to_id == @user.id %>
<p>
    A task has been assigned to you.
</p>
<% elsif @task.user_id == @user.id %>
<p>
    A task has been created by you.
</p>
<% end %>


<p>
    <%= render "/tasks/show", task: @task, current_user: nil, params: {} %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Task', task_url(@task, subdomain: @task.entity.sub_domain) %></p>
