<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body" id="msg"></div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" type="button" data-bs-dismiss="modal"><%= t_common(:cancel) %></button>
                <input type="hidden" name="submitForm" id="submitForm" autocomplete="off">
                <form id="confirm_submit" class="button_to" method="post" action="">
                    <input type="hidden" name="_method" id="method" autocomplete="off">
                    <input type="hidden" name="authenticity_token" id="confirm_at" value="" autocomplete="off">
                    <button type="submit" class="btn btn-outline-success" data-action="click->confirm#ok"><%= t_common(:proceed) %></button>
                </form>
            </div>
        </div>
    </div>
</div>