<!-- This partial is used in /layouts/filter, to include funds if required. -->

<%

    fund_related_conts = %w[capital_commitments capital_remittances capital_distributions account_entries fund_units portfolio_investments aggregate_portfolio_investments fund_ratios capital_remittance_payments capital_distribution_payments].freeze

    secondary_related_conts = %w[offer interests allocations].freeze

    search_wo_fund = params[:q].present? && params[:fund_id].blank? # The fund drop down is deleted
%>


<% if fund_related_conts.include?(params[:controller]) %>

<div class="row form-group">
    <input class="form-control col" type="text" value="Fund Name" disabled>
    <select class="form-control col"><option>equals</option></select>
    <%= select_tag :fund_id, options_from_collection_for_select(current_user.entity.funds, :id, :name, params[:fund_id]), prompt: "All Funds", class: "form-control col", value: "" %>
    <span class="col-2 pt-2">
        <%= link_to "#", class: "remove_fields btn btn-outline-danger", "data-bs-toggle": "tooltip", "data-bs-placement": "top", title: "Delete Condition" do %>
            <i class="ti ti-trash fs-4"></i>
        <% end %>
    </span>
</div>

<% end %>


<% if secondary_related_conts.include?(params[:controller]) %>

<div class="row form-group">
    <input class="form-control col" type="text" value="Sale Name" disabled>
    <select class="form-control col"><option>equals</option></select>
    <%= select_tag :secondary_sale_id, options_from_collection_for_select(current_user.entity.secondary_sales, :id, :name, params[:secondary_sale_id]), prompt: "All Sales", class: "form-control col", value: "" %>
    <span class="col-2 pt-2">
        <%= link_to "#", class: "remove_fields btn btn-outline-danger", "data-bs-toggle": "tooltip", "data-bs-placement": "top", title: "Delete Condition" do %>
            <i class="ti ti-trash fs-4"></i>
        <% end %>
    </span>
</div>

<% end %>
