<% cache_if(current_user != nil, cache_key("sidebar"), expires_in: 5.day) do %>

<!-- Sidebar -->
<nav class="sidebar-nav scroll-sidebar" data-simplebar>
        <ul id="sidebarnav">

            <!-- Nav Item - Dashboard -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="/entities/dashboard" >
                    <span><i class="ti ti-layout-dashboard"></i></span>
                    <span class="hide-menu">Dashboard</span></a>
            </li>

            <% if current_user && current_user.has_cached_role?(:super) %>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/admin">
                        <span><i class="ti ti-radioactive"></i></span>
                        <span class="hide-menu">Admin</span></a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/support_client_mappings">
                        <span><i class="ti ti-help"></i></span>
                        <span class="hide-menu">Support Mapping</span></a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/blazer">
                        <span><i class="ti ti-files"></i></span>
                        <span class="hide-menu">Reports</span></a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/key_biz_metrics?card=true&filter=true">
                        <span><i class="ti ti-dashboard"></i></span>
                        <span class="hide-menu">Key Metrics</span></a>
                </li>
            <% end %>

            

            <% if current_user && ["investor", "advisor", "company_admin"].include?(current_user.curr_role)  %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <%= render "layouts/sidebars/sidebar_investor" %>
            <% end %>

            <% if current_user && ["employee", "company_admin"].include?(current_user.curr_role) && (current_user.entity.is_fund?) %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <%= render "layouts/sidebars/sidebar_fund" %>
            <% end %>

            <% if current_user && ["employee", "company_admin"].include?(current_user.curr_role) && current_user.entity_type == "Company" %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <%= render "layouts/sidebars/sidebar_startup" %>
            <% end %>

            <hr class="sidebar-divider">

            <% if current_user && current_user.enable_funds %>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="/funds" data-bs-toggle="collapse" data-bs-target="#fundMenus">
                        <span><i class="ti ti-currency-dollar"></i></span>
                        <span class="hide-menu">Funds</span>
                    </a>


                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/funds">

                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-chevron-right fs-2"></i>
                                </div>
                                <span class="hide-menu">Funds</span>
                            </a>
                        </li>

                        <% if current_user.curr_role == "investor" %>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="/capital_commitments?my_commitments=true">

                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-chevron-right fs-2"></i>
                                    </div>
                                    <span class="hide-menu">Commitments</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="/capital_commitments/documents">

                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-chevron-right fs-2"></i>
                                    </div>
                                    <span class="hide-menu">Documents</span>
                                </a>
                            </li>
                        <% elsif current_user.enable_reports %>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="/reports">

                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-chevron-right fs-2"></i>
                                    </div>
                                    <span class="hide-menu">Reports</span>
                                </a>
                            </li>
                        <% end %>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/investor_kycs">

                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-chevron-right fs-2"></i>
                                </div>
                                <span class="hide-menu">KYCs</span>
                            </a>
                        </li>
                    </ul>

                </li>
            <% end %>

            <% if current_user && current_user.enable_inv_opportunities %>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/investment_opportunities" >
                        <span><i class="ti ti-device-analytics"></i></span>
                        <span class="hide-menu">Opportunities</span>
                    </a>
                </li>
            <% end %>



            

            <% if current_user &&
                (current_user.entity.is_fund? || current_user.entity.is_company?) %>
            
                <!-- Divider -->
                <hr class="sidebar-divider">

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="/tasks" data-bs-toggle="collapse" data-bs-target="#taskMenus">
                        <span><i class="ti ti-checklist"></i></span>
                        <span class="hide-menu">Tasks</span>
                    </a>

                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/tasks">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-chevron-right fs-2"></i>
                                </div>
                                <span class="hide-menu">All Tasks</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/tasks?assigned_to_id=<%=current_user.id%>">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-chevron-right fs-2"></i>
                                </div>
                                <span class="hide-menu">My Tasks</span>
                            </a>
                        </li>
                        
                        <% if current_user.support? %>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/tasks?for_support=true">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-chevron-right fs-2"></i>
                                </div>
                                <span class="hide-menu">Support Tasks</span>
                            </a>
                        </li>
                        <% end %>

                    </ul>

                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/boards">
                        <span><i class="ti ti-brand-trello"></i></span>
                        <span class="hide-menu">Boards</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/events">
                        <span><i class="ti ti-calendar"></i></span>
                        <span class="hide-menu">Events</span>
                    </a>
                </li>
            <% end %>


            <% if current_user %>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow" href="/quick_links" data-bs-toggle="collapse" data-bs-target="#quickLinksMenus">
                        <span><i class="ti ti-map-pin"></i></span>
                        <span class="hide-menu">Quick Links</span>
                    </a>

                    <ul aria-expanded="false" class="collapse first-level">
                        <% if current_user && current_user.curr_role != "investor" %>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/quick_links?tags=Fund">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-chevron-right fs-2"></i>
                                </div>
                                <span class="hide-menu">Funds</span>
                            </a>
                        </li>
                        <% end %>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/quick_links?tags=Investor">
                                <div class="round-16 d-flex align-items-center justify-content-center">
                                    <i class="ti ti-chevron-right fs-2"></i>
                                </div>
                                <span class="hide-menu">Stakeholders</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <% if current_user.enable_ai_chat %>
                    <li class="sidebar-item"> 
                        <a class="sidebar-link" href="/ai">
                            <span><i class="ti ti-robot"></i></span>
                            <span class="hide-menu">AI</span>
                        </a>
                    </li>
                <% end %>
            <% end %>

        </ul>
        <!-- End of Sidebar -->
</nav>

<% end %>
