        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img src="/img/logo_trans.png"></img>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/entities/dashboard" >
                    <i class="fas fa-lg fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>

                
            </li>

            <% if current_user && current_user.has_cached_role?(:super) %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <i class="fas fa-lg fa-fw fa-key"></i>
                        <span>Admin</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blazer">
                        <i class="fas fa-lg fa-fw fa-file-lines"></i>
                        <span>Reports</span></a>
                </li>                
            <% end %>

            <% if current_user && current_user.curr_role == "holding" %>
                <li class="nav-item">
                        
                    <a class="nav-link" href="/holdings">
                        <i class="fas fa-lg fa-fw fa-money-bill"></i>
                        <span>Holdings</span>
                    </a>

                    <a class="nav-link" href="/offers">
                        <i class="fas fa-lg fa-fw fa-file-import"></i>
                        <span>Offers</span>
                    </a>

                </li>
            
            <% if current_user && ["investor", "advisor"].include?(current_user.curr_role) %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <%= render "layouts/sidebars/sidebar_investor" %>                
            <% end %>

            <% if current_user && current_user.curr_role.to_sym == :employee && current_user.entity_type == "Investment Fund" %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <%= render "layouts/sidebars/sidebar_fund" %>
            <% end %>

            <% if current_user && current_user.curr_role.to_sym == :employee && current_user.entity_type == "Company" %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                <%= render "layouts/sidebars/sidebar_startup" %>
            <% end %>


            <% if current_user && current_user.enable_funds %>
                <li class="nav-item">                
                    <a class="nav-link" href="/funds" data-toggle="collapse" data-target="#fundMenus">
                        <i class="fas fa-lg fa-fw fa-dollar"></i>
                        <span>Funds</span>
                    </a>

                
                    <div id="fundMenus" class="collapse subMenus" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/funds">View Funds</a>
                            <a class="collapse-item" href="/investor_kycs">KYCs</a>
                        </div>
                    </div>

                </li>
            <% end %>

            <% if current_user && current_user.enable_inv_opportunities %>
                <li class="nav-item"> 
                    <a class="nav-link collapsed" href="/investment_opportunities">
                        <i class="fas fa-lg fa-fw fa-funnel-dollar"></i>
                        <span>Investment Opportunities</span>
                    </a>
                </li>
            <% end %>


            <% if current_user &&  ["Investment Fund", "Company"].include?(current_user.entity_type) %>
                <li class="nav-item"> 
                    <a class="nav-link" href="/aggregate_investments" data-toggle="collapse" data-target="#taskMenus">
                        <i class="fas fa-lg fa-fw fa-check"></i>
                        <span>Tasks</span>
                    </a>

                    <div id="taskMenus" class="collapse subMenus" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/tasks">All Tasks</a>
                            <a class="collapse-item" href="/tasks?assigned_to_id=<%=current_user.id%>">Assigned To Me</a>
                        </div>
                    </div>

                </li>
            <% end %>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
