<div class="col-lg-12 mb-4">
    <!-- Approach -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <% title ||= "Video" %>
            <h6 class="m-0 font-weight-bold text-primary"><%= title %></h6>
        </div>
        <div class="card-body">
        
           <video
              id="document_video"
              class="document_video vjs-fill"
              controls="true"
              responsive="true"
              preload="false"
              data-setup="{}"
           >
              <source src="<%=  url %>" />
              <p class="vjs-no-js">
                 To view this video please enable JavaScript, and consider upgrading to a
                 web browser that
                 <a href="https://videojs.com/html5-video-support/" target="_blank"
                 >supports HTML5 video</a
                 >
              </p>
           </video>
           
        </div>
    </div>
</div>