    <div class="row center">

        <% ci_profile.ci_track_records.each_with_index do |track_record, idx| %>
            <div class="col">
                <% color = ["success", "primary", "info", "warning", "success", "primary", "info", "warning"][idx] %>
                <div class="card border-left-<%=color%> shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    <%= track_record.name %>
                                </div>
                                <div class=" h5 mb-1 font-weight-bold text-gray-800">
                                    <%= track_record.to_s %>
                                </div>
                                <small class="text-gray-500"><%= track_record.details %></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        
    </div>
