<%= render "/ci_profiles/preview_stats", ci_profile: ci_profile %>
<%= render "/ci_profiles/preview_widgets", ci_profile: ci_profile %>

<div class="associated_entity">
    <%= render "/documents/index", documents: ci_profile.documents, 
                owner: ci_profile, entity: ci_profile.entity %>
</div>                