<%= render "/layouts/alerts" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Ci Profiles</h1>
  <%= link_to "New Ci Profile", new_ci_profile_path, {class: "btn btn-outline-primary"}  %>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="ci_profiles" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Geography
        </th>
        <th>
          Stage
        </th>
        <th>
          Sector
        </th>
        <th>
          Fund Size
        </th>
        <th>
          Min Investment
        </th>
        <th>
          Currency
        </th>
        <th>
          Status
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @ci_profiles.each do |ci_profile| %>
        <%= render ci_profile %>
      <% end %>
    </tbody>
  </table>
</div>
