<p>

    The KYC for the user <%= @investor_kyc.full_name %> has been updated.

</p>

<p class="btn btn-outline-primary"><%= link_to  "View KYC", investor_kyc_url(@investor_kyc, subdomain: @investor_kyc.entity.sub_domain) %></p>

