<% if investor.investor_access_count > 0 %>
  <span class="badge badge-success">
    <%= link_to "Approved #{investor.investor_access_count}", investor_path(id: investor.id, tab: "investors-tab") %>
  </span>
<% end %>
<% if investor.unapproved_investor_access_count > 0 %>
  <span class="badge badge-warning">
    <%= link_to "Pending #{investor.unapproved_investor_access_count}", investor_path(id: investor.id, tab: "investors-tab") %>
  </span>
<% end %>
