
<tr id="investor_<%= investor.id %>">

  <%= render RansackTableRow.new(model: investor, columns:) %>

  <td>
    <%= link_to  t_common(:show), investor_path(investor.id), {class: "btn btn-outline-primary"}  %>
    <%= link_to  t_common(:edit), edit_investor_path(investor.id), {class: "btn btn-outline-success"} if policy(investor).edit? %>
  </td>

</tr>
