<% cache_if(current_user != nil, cache_key("investor_stats"), expires_in: 5.day) do %>
  <% colors = ["success", "warning", "danger", "primary", "secondary", "info"].freeze %>

  <% index = 0 %>
  <% cards_data = [] %>
  <% policy_scope(Investor).group(:category).count.each do |category, count| %>
    <% color = colors[index % colors.length]; index += 1 %>
    <% cards_data << { path: investors_path(category: category), stat: count, subtitle: category, progress_bar_color: color, text_info: nil } %>
  <% end %>

  <div class="row">
    <% cards_data.each do |card_data| %>
      <%= render(NumberStatsComponent.new(
                  path: card_data[:path],
                  amount: card_data[:stat],
                  subtitle: card_data[:subtitle],
                  progress_bar_color: card_data[:progress_bar_color],
                  text_info: card_data[:text_info]
      )) %>
    <% end %>
  </div>
<% end %>
