  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Expression Of Interests</h1>
    <% investment_opportunity ||= nil %>
    <%= link_to "New Expression Of Interest", 
        new_expression_of_interest_path("expression_of_interest[investment_opportunity_id]": 
            investment_opportunity.id ), {class: "btn btn-primary"} if investment_opportunity  %>
  </div>
  
  <div class="table-responsive" data-controller="datatable">
  
    <table id="expression_of_interests" class="table table-bordered dataTable">
  
      <thead>
        <tr>
          <th>
            User
          </th>
          <th>
            Eoi Entity
          </th>
          <th>
            Amount 
          </th>
          <th>
            Approved
          </th>
          <th>
            Verified
          </th>
          <th>
            Allocation Percentage
          </th>
          <th>
            Allocation Amount 
          </th>
      
          <th>
          </th>
        </tr>
      </thead>
      
      <tbody>
      <% expression_of_interests.each do |expression_of_interest| %>
        <%= render expression_of_interest %>
      <% end %>
      </tbody>
    </table>
  
  </div>