
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Investor Notice Entries</h1>
    <%= link_to "New Investor Notice Entry" , new_investor_notice_entry_path("investor_notice_entry[investor_notice_id]": @investor_notice.id), {class: "btn btn-primary" } if @investor_notice %>
  </div>

  <div class="table-responsive" data-controller="datatable">

    <table id="investor_notice_entries" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <th>
            Investor Notice
          </th>
          <th>
            Investor
          </th>
          <th>
            Active
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% investor_notice_entries.each do |investor_notice_entry| %>
          <%= render investor_notice_entry %>
        <% end %>
      </tbody>
    </table>

  </div>