
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Approvals</h1>
  <% if policy(Approval.new(entity_id: current_user.entity_id)).new? %>
    <%= link_to new_approval_path, class: "btn btn-outline-primary" do %>
      <i class="ti ti-checkup-list me-2"></i>New Approval
    <% end %>
  <% end %>

</div>

<div class="table-responsive" data-controller="datatable">

  <% show_stats = ["Company", "Investment Fund", "Angel Fund"].include?(current_user.entity_type) %>

  <table id="approvals" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Entity
        </th>
        <th>
          Title
        </th>
        <th>
          Due Date
        </th>

        <% if show_stats %>
          <th>
            Responses Status
          </th>
        <% end %>

        <th>
        </th>
      </tr>
    </thead>

    <tbody>
    <% approvals.each do |approval| %>
      <%= render approval, show_stats: %>
    <% end %>
    </tbody>
  </table>

</div>
