<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Approvals</h1>
  <%= link_to "New Approval", new_approval_path, {class: "btn btn-outline-primary"}  if policy(Approval.new).new? %>
</div>

<div class="table-responsive" data-controller="datatable">

  <table id="approvals" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Entity
        </th>
        <th>
          Title
        </th>
        <th>
          Due Date
        </th>

        <% if ["Company", "Investment Fund"].include?(current_user.entity_type) %>
          <th>
            Approved 
          </th>
          <th>
            Rejected 
          </th>
          <th>
            Pending 
          </th>
        <% end %>
    
        <th>
        </th>
      </tr>
    </thead>
    
    <tbody>
    <% @approvals.each do |approval| %>
      <%= render approval %>
    <% end %>
    </tbody>
  </table>

</div>