<div class="associated_entity" data-controller="tabs tabdetails">


    <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">

      <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>

    </nav>

    <div class="tab-content">
      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
            <%= turbo_frame_tag "documents_tree_frame", target: "_top", src: folder_documents_path(entity_id: aml_report.entity_id, folder_id: aml_report.document_folder.id, show_root_docs: true), loading: :lazy do %>
            <% end %>
        </div>
      </div>
    </div>

  </div>
