<% 
    portfolio_company_id = params[:portfolio_company_id]
    all_funding_rounds = @investments.select(:funding_round, :investment_date).
                                order(investment_date: :asc).pluck(:funding_round).uniq
    # This is required to ensure that the funding_round tables are cumulative. i.e first table from round A is displayed, then for funding_round B, we need to display the investments from round A and B and for funding_round C, we need to display the investments from round A, B and C.
    funding_rounds = []                                  
%>

<%= render ToggleCard.new(title: "Cap Table by Funding Round", css_class: "show_cap_table", state: "show") do %>
    <div class="row">
        <% if params[:each_funding_round].blank? || params[:each_funding_round] == "true" %>
            <!-- If all_funding_rounds is blank or true, show tables for each funding rounds incrementally -->
            <% all_funding_rounds.each do |funding_round| %>
            <% funding_rounds << funding_round %>
            <div class="col">
                <h1 class="h4 mb-0 text-gray-800">Funding Round: <%= funding_round %></h1>
                <%= render "/investments/funding_round", funding_round:, funding_rounds:, portfolio_company_id: %>
            </div>
            <% end %>
        <% else %>
            <!-- If all_funding_rounds is false, show only all funding rounds -->
            <% funding_rounds = all_funding_rounds %>
            <div class="col">
                <h1 class="h4 mb-0 text-gray-800">Funding Round: All</h1>
                <%= render "/investments/funding_round", funding_round: "All", funding_rounds:, portfolio_company_id: %>
            </div>
        <% end %>
    </div>
<% end %>