<%= form_tag("", method: :get, id: "currency_units_form") do %>

  <div class="form-group" data-controller="currency">
    <% selected ||= params[:units].presence || (cookies && cookies[:currency_units]) %>
    <%= select_tag :units,
        options_for_select(["Crores", "Lakhs", "Million", "None"], selected),
        id: "currency_units",
        class: "form-control",
        prompt: "Select Currency Units",
        data: { action: "change->currency#setCurrencyUnit", toggle: "tooltip", title: "Choose Currency Units" } %>
  </div>

  <%= submit_tag "Submit", hidden: true, id: "submit" %>

<% end %>