<div class="table-responsive">

    <table id='<%= "investments-#{title}" %>' class="table table-bordered dataTable jqDataTable">

        <thead>

            <tr>
                <% if current_user.entity_id==entity.id %>
                    <th></th>
                <% end %>
                <th>
                    Investor
                </th>
                <th>
                    Category
                </th>

                <th>
                    Equity Shares
                </th>
                <th>
                    Preferred
                </th>
                <th>
                    Total
                </th>
                <th>
                    Percentage Holding
                </th>
                <th>
                    Options
                </th>
                <th>
                    Fully Diluted
                </th>
                <th>
                    Amount
                    (<%= entity.currency %>)
                </th>

                <th>
                    Action
                </th>
            </tr>

        </thead>
        <tbody>
            <% investments.each do |investment| %>
                <%= render investment_vc_view %>
            <% end %>
        </tbody>

    </table>

</div>