<%= render "/layouts/alerts" %>
<% form_custom_fields = @kpi_reports[0].form_type.form_custom_fields.order(position: :asc) %>
<div data-controller="export-xl">

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">Kpis</h1>

    <span>
        <button class="btn btn-outline-success", data-action="click->export-xl#export" data-tableid="kpi_reports_grid" data-filename='kpi_reports'>Download</button>
    </span>
</div>

<div class="table-responsive" data-controller="datatable">
    <table id="kpi_reports_grid" class="table table-bordered dataTable jqDataTable">
        <thead>
            <tr>
                <th>As Of</th>
                <% form_custom_fields.each do |fcf| %>
                    <th><%= fcf.name %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @kpi_reports.each do |kpi_report| %>
                <% kpis = kpi_report.kpis.map{|kpi| [kpi.name, kpi]}.to_h %>            
                <tr>
                    <td><%= link_to l(kpi_report.as_of), kpi_report %></td>
                    <% form_custom_fields.each do |fcf| %>
                        <td><%= kpis[fcf.name]&.value %> </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>
