<% investor ||= nil %>
<% portfolio_company_id ||= investor&.id || params[:portfolio_company_id] %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Stock Adjustments</h1>
  <%= link_to "New Stock Adjustment", new_stock_adjustment_path(portfolio_company_id: portfolio_company_id), {class: "btn btn-outline-primary ti ti-plus"}  if portfolio_company_id  %>
</div>
<div class="table-responsive" data-controller="datatable">

  <table id="stock_adjustments" class="table table-bordered dataTable">

    <thead>
      <tr>
        <% unless params["portfolio_company_id"].present? %>
          <th>
            Portfolio Company
          </th>
        <% end %>
        <th>
          User
        </th>
        <th>
          Instrument
        </th>
        <th>
          Adjustment
        </th>
        <th>
          On
        </th>
        <th>
          Notes
        </th>
      </tr>
    </thead>

    <tbody>
      <% stock_adjustments.each do |stock_adjustment| %>
        <%= render stock_adjustment %>
      <% end %>
    </tbody>

  </table>
</div>
