
  <% investor_kyc_id ||= params[:investor_kyc_id] %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kyc Data</h1>

    <% if investor_kyc_id.present? && current_user.entity.ckyc_or_kra_enabled? %>
    <span>
        <%= link_to "New CKYC Data" , new_kyc_data_path("kyc_data[investor_kyc_id]": investor_kyc_id, "kyc_data[source]": "ckyc"), {class: "btn btn-outline-primary" } if current_user.entity.permissions.enable_ckyc? %>
        <%= link_to "New KRA Data" , new_kyc_data_path("kyc_data[investor_kyc_id]": investor_kyc_id, "kyc_data[source]": "kra"), {class: "btn btn-outline-primary" } if current_user.entity.permissions.enable_kra? %>
      </span>
    <% end %>
  </div>

  <div class="table-responsive" >


    <table id="kyc_datas" class="table table-bordered dataTable" style="width:100%" >

      <thead>
        <tr>
          <th>
            Investor Kyc
          </th>
          <th>
            Full Name
          </th>
          <th>
            PAN
          </th>
          <th>
            DOB
          </th>
          <th>
            Source
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>

        <% kyc_datas.each do |kyc_data| %>
          <%=render "kyc_data", kyc_data: kyc_data %>
        <% end %>

      </tbody>
    </table>

  </div>
