<div>
    The following errors were detected in the generation of documents:
    <ol>
        <% @error_msg.each do |error| %>
            <li>
                Message: <%= error[:msg] %>,             
                Template: <%= error[:template] %>, 
                Investor: <%= error[:investor_name] %>
            </li>
        <% end %>
    </ol>
</div>