<div>
    The following errors were detected in the generation of documents:
    <ol>
        <% @error_msg.each do |error| %>
            <li>
                <% error.each do |k, v| %>
                    <%= k.to_s.humanize %>: <%= v %>
                <% end %>
            </li>
        <% end %>
    </ol>
</div>