Dear Support

<p>
    A new entity <%= link_to @entity.name, @entity %> was recently created. Please ensure the setup is done properly. Things to ensure are
</p>
<ul>
    <li>
        The permissions are setup properly.
    </li>
    <li>
        The holding and trust company are setup properly if required.
    </li>
</ul>
