<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Interests</h1>
    <%= link_to "New Interest" , new_interest_path("interest[secondary_sale_id]": params[:secondary_sale_id]), 
        {class: "btn btn-primary" } if params[:secondary_sale_id] %>
</div>

<div class="table-responsive" data-controller="datatable">

<table id="interests" class="table table-bordered dataTable jqDataTable">

    <thead>
        <tr>
            <th>
                Interest Entity
            </th>
            
            <th>
                User
            </th>

            <th>
                Type
            </th>
        
            <th>
                Quantity
            </th>
            <th>
                Interest Price
            </th>
            <% if secondary_sale && secondary_sale.entity_id == current_user.entity_id %>
            
                <th>
                    Potential Allocation
                </th>
                <th>
                    Potential Allocation %
                </th>

            <% end %>
            <th>
                Actually Offered
            </th>
            <th>
                Final Price
            </th>
            <th>
                Allocation Amount
            </th>
            
            <th>
                Shortlisted
            </th>
            <th>
                Escrow Deposited
            </th>

            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        <% interests.each do |interest| %>
            <%= render interest, secondary_sale: secondary_sale %>
        <% end %>
    </tbody>
</table>

</div>