<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    Documents
    <%= params[:folder_id].present? ? "in " + Folder.find(params[:folder_id]).full_path : "" %>
  </h1>

  <% 
    msg ||= nil
    if msg.present?
  %>
    <span class="alert alert-info"><%= msg %></span>
  <% end %>

  <% 
    external = owner && owner.entity_id != current_user.entity_id 
    document = Document.new(entity_id: owner&.entity_id || current_user.entity_id, owner: owner)
    doc_attributes = document.attributes.delete_if{|k,v| !["entity_id", "owner_id", "owner_type"].include?(k)}
  %>

  <%= link_to "New Document", new_document_path(external: external, document: doc_attributes, 
              "document[folder_id]": params[:folder_id]), 
              {class: "btn btn-primary" }  if policy(document).create? %>

</div>

<div class="table-responsive">

  <table id="documents" class="table table-bordered table-striped dataTable jqDataTable">

    <thead>
      <tr>
        <th>
          Name
        </th>
        <th class="hideMobP">
          Tags
        </th>

        <% if current_user.entity_id == entity.id %>
          <th class="hideMobP">
            Download
          </th>
          <th class="hideMobP">
            Print
          </th>
          <th class="hideMobP">
            Original Format
          </th>
        <% end %>
        
        <th>
          Folder
        </th>

      </tr>
    </thead>
    <tbody>
      <% documents.each do |document| %>
        <%= render partial: "documents/document" , locals: {document: document} %>
      <% end %>
    </tbody>
  </table>


</div>