<% aggregate_portfolio_investment ||= nil %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Portfolio Income</h1>

  <span>
    <%= link_to "New Portfolio Income", new_portfolio_cashflow_path("portfolio_cashflow[aggregate_portfolio_investment_id]": aggregate_portfolio_investment.id), {class: "btn btn-outline-primary ti ti-plus"}  if aggregate_portfolio_investment %>

    <%= link_to "Upload",
          new_import_upload_path(
          "import_upload[import_type]": "PortfolioCashflow",
          "sample_upload": "PORTFOLIO_INCOME_SAMPLE"),
          { class: "btn btn-outline-primary ti ti-upload"}   %>
  </span>

</div>
<div class="table-responsive" data-controller="datatable" data-datatable-responsive-details-value=true>
  <table id="portfolio_cashflows" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <% if params.include?("portfolio_company_id") %>
          <th>
            Fund Name
          </th>
        <% end %>
        <th>
          Instrument
        </th>
        <th>
          Payment Date
        </th>
        <th>
          Amount
        </th>
        <th>
          Tag
        </th>
        <th>
          Notes
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% portfolio_cashflows.each do |portfolio_cashflow| %>
        <%= render portfolio_cashflow %>
      <% end %>
    </tbody>
  </table>
</div>