<% if fund.entity_id == current_user.entity_id %>
    <div id="fund_associated_details" class="associated_entity">
        <%= render "funds/owner_fund_details", fund: fund %>
    </div>
<% else %>
    <%= render "funds/investor_fund_details", fund: fund %>
<% end %>
