
<div class="row">
    <div class="col">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Commitments</h6>
            </div>
            <div class="card-body">
                <%= investor_commitments_chart(capital_commitments)  %>
            </div>
        </div>
    </div>    

</div>

