<% cache_if(current_user != nil, cache_key("fund_stats"), expires_in: 5.day) do %>
  <% colors = ["success", "warning", "danger", "info"].freeze %>

  <% cards_data = [
    { path: funds_path, stat: policy_scope(current_user.entity.funds).count, subtitle: "Funds", progress_bar_color: "success", text_info: "currency-dollar" },
    { path: capital_commitments_path(filter: true), stat: policy_scope(current_user.entity.capital_commitments).count, subtitle: "Commitments", progress_bar_color: "warning", text_info: "lock" },
    { path: capital_remittances_path(filter: true), stat: policy_scope(current_user.entity.capital_remittances).count, subtitle: "Remittances", progress_bar_color: "danger", text_info: "cash" },
    { path: investor_kycs_path(filter: true), stat: policy_scope(current_user.entity.investor_kycs).count, subtitle: "KYCs", progress_bar_color: "info", text_info: "list-check" }
  ] %>

  <div class="row">
    <% cards_data.each do |card_data| %>
      <%= render(NumberStatsComponent.new(
                  path: card_data[:path],
                  amount: card_data[:stat],
                  subtitle: card_data[:subtitle],
                  progress_bar_color: card_data[:progress_bar_color],
                  text_info: card_data[:text_info]
      )) %>
    <% end %>
  </div>
<% end %>
