<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  Edit ActiveFlagField _form partial to add custom fields
  <%= f.text_field field.attribute, disabled: true %>
</div>
