<% secondary_sale ||= nil %>
<% if params[:q].present? %>

<div class="btn-group">
<div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle ti ti-checklist" type="button" id="doc_actions"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bulk Actions
    </button>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

    <% msg = "This will Verify each offer in the search results (including results on other pages). Proceed?" %>
    <%= button_to "Verify",
    bulk_actions_offers_path("bulk_action": "Verify", q: params.to_unsafe_h[:q], all: true, secondary_sale_id: secondary_sale&.id),
    class: "dropdown-item ti ti-check", form_class: "w-100",
    data: {msg:, action: "click->confirm#popup", method: :post}  %>

    <% msg = "This will Unverify each offer in the search results (including results on other pages). Proceed?" %>
    <%= button_to "Unverify",
    bulk_actions_offers_path("bulk_action": "Unverify", q: params.to_unsafe_h[:q], all: true, secondary_sale_id: secondary_sale&.id),
    class: "dropdown-item ti ti-x", form_class: "w-100",
    data: {msg:, action: "click->confirm#popup", method: :post}  %>

    </div>
</div>
</div>

<% end %>
