<div class="table-responsive">

    <div class="divTable minimalistBlack">
        <div class="divTableHeading datatable jqDataTable">
            <div class="divTableRow thead">
                <div class="divTableHead">Approved</div>
                <div class="divTableHead">User</div>
                <div class="divTableHead">Quantity</div>
                <div class="divTableHead">Holding %</div>
                <div class="divTableHead">PAN</div>
                <div class="divTableHead">Bank</div>
                <div class="divTableHead">Allocation Amount</div>
                <div class="divTableHead">Allocation %</div>
                <div class="divTableHead">Allocation Quantity</div>
                <div class="divTableHead">Aquirer</div>
                <div class="divTableHead">Accepted SPA</div>
                <div class="divTableHead">Verifed</div>
                <div class="divTableHead">Comments / Docs</div>
                <div class="divTableHead">Action</div>
            </div>
        </div>
        <div class="divTableBody tbody">
            <% offers.each do |offer| %>
                <%= render "offers/final_offer" , offer: offer %>
            <% end %>
        </div>

    </div>

    <%= paginate @offers %>

</div>