<div class="associated_entity" data-controller="tabs tabdetails">


  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.documents') %></a>

    <% if offer.allocation_quantity > 0 %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#transaction-docs-tab"
          data-action="click->tabdetails#loadData"><%= t('secondaries_tabs.transaction_documents') %></a>
    <% end %>
  </nav>


  <div class="tab-content" data-controller="datatable">


      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
         <% documents = if current_user.entity_id == @offer.entity_id
              @offer.documents.includes(:folder)
            else
              Document.generated_approved_or_others(@offer)
            end
        %>
          <% msg = @offer.secondary_sale.seller_doc_list.present? ? "Documents Required: #{@offer.secondary_sale.seller_doc_list}" : nil %>
          <%= render "/documents/index", documents: documents,
              owner: @offer, entity: @offer.entity, msg: msg %>
        </div>
      </div>

      <% if offer.allocation_quantity > 0 %>
        <div id="transaction-docs-tab" class="tab-pane fade in">
          <div id="transaction_docs" class="associated_entity">
            <%= render "/documents/index", documents: @offer.transaction_documents.approved, msg: nil, title: "Transaction Documents" %>
          </div>
        </div>
      <% end %>

  </div>

</div>
