<div class="associated_entity" data-controller="tabs tabdetails">

  
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData">Documents</a>


        
    <% if params[:debug].present? %>
          <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#esigns-tab" 
                data-action="click->tabdetails#loadData">
              eSigns
          </a>
    <% end %>
  </nav>


  <div class="tab-content" data-controller="datatable">


      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
          <% msg = @offer.secondary_sale.seller_doc_list.present? ? "Documents Required: #{@offer.secondary_sale.seller_doc_list}" : nil %>
          <%= render "/documents/index", documents: @offer.documents.includes(:folder, :tags), 
              owner: @offer, entity: @offer.entity, msg: msg %>
        </div>     
      </div>

      <div id="esigns-tab" class="tab-pane fade">
          <div id="esigns" class="associated_entity">
            <%= link_to esigns_path( owner_id: @offer.id, owner_type: "Offer"), 
                                    class: "load_data_link", 
                                    data: { turbo_frame: 'esigns_list' } do %>
              <span>Loading...</span>
            <% end %>
            <%= turbo_frame_tag "esigns_list", target: "_top" do %>
            <% end %>
          </div>     
      </div>

      
  </div>

</div>
