<% owner ||= nil %>
<h1 class="h3 mb-0 text-gray-800">E Signatures</h1>
<div class="d-sm-flex align-items-center justify-content-end mb-4">
  <%= button_to "Send For eSignatures" , send_for_esign_document_path(owner), {class: "btn btn-outline-primary", method: :patch} if owner && policy(owner).send_for_esign? %>

  <%= button_to "Get eSignatures' updates" , fetch_esign_updates_document_path(owner), {class: "btn btn-outline-primary", method: :get} if owner && policy(owner).fetch_esign_updates? %>
  
  <% msg = "This option is to be used only when you want to change the type of signature for a signatory.  After this, the document will have to be signed by all signatories again (even if it was signed earlier)." %>

  <%= button_to "Cancel eSignatures" , cancel_esign_document_path(owner), {class: "btn btn-outline-danger", method: :patch} if owner && policy(owner).cancel_esign? %>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="e_signatures" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Email
        </th>
        <th>
          Label
        </th>
        <th class="hideMobP">
          Signature Type
        </th>

        <th>
          Status
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% e_signatures.each do |e_signature| %>
        <%= render e_signature %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="alert alert-info text-center associated_entity">
  The option to initiate E-signature for a document becomes accessible only when every signatory is linked to a user account
</div>
