<tr id="<%= dom_id account_entry %>">
  <%= render RansackTableRow.new(model: account_entry, columns:) %>
  <td>
    <%= link_to  t_common(:show), account_entry , {class: "btn btn-outline-primary ti ti-eye"}%>
  </td>
</tr>
