
<div class="row">
  <%= form.hidden_field :template, name: "template", value: "index_group" %>

  <div class="form-group col d-none">
    <%= form.select :agg_type, ["sum", "count", "max", "min"], {selected: params[:agg_type]}, class: "form-control", name: "agg_type"  %>
    <small class="form-text text-muted">Select aggregation function.</small>
  </div>

  <div class="form-group col d-none">
    <%= form.select :agg_field, [:amount], {selected: params[:agg_field]}, class: "form-control", name: "agg_field"  %>
    <small class="form-text text-muted">Select the field to aggregate.</small>
  </div>

  <%
    field_names = ["entry_type", "unit_type", "fund_name", "account_entry_name"]

    options = field_names.map do |field|
      [field.humanize.titleize, field]
    end

    options.sort_by! { |label, value| label }
  %>
  <div class="form-group col-11">
    <%= form.select :group_fields, options, {include_hidden: false, selected: params[:group_fields]}, class: "form-control select2", name: "group_fields[]", multiple: true  %>
    <small class="form-text text-muted">Select the fields to group by.</small>
  </div>
</div>