
<div class="row">
    <div class="col-4 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Interest By Quantity </h6>
            </div>
            <div class="card-body">
                <%= interest_by_quantity(secondary_sale) %>
            </div>
        </div>
    </div>

    <div class="col-4 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Shortlisted </h6>
            </div>
            <div class="card-body">
                <%= interest_by_shortlisted(secondary_sale) %>
            </div>
        </div>
    </div>

    <div class="col-4 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Allocated </h6>
            </div>
            <div class="card-body">
                <%= interest_by_allocation(secondary_sale) %>
            </div>
        </div>
    </div>

</div>