<div class="associated_entity" data-controller="tabs tabdetails">

  
  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab">Interest Documents</a>
    <% if interest.verified %>
      <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#offer-docs-tab">Offer Documents</a>
    <% end %>
  </nav>

  <div class="tab-content" data-controller="datatable">

      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
          
          <% msg = interest.secondary_sale.buyer_doc_list.present? ? "Documents Required: #{interest.secondary_sale.buyer_doc_list}" : nil %>

          <%= render "/documents/index", documents: interest.documents.includes(:folder), owner: interest, 
              entity: interest.entity, msg: msg, title: "Interest Documents" %>
        </div>
      
      </div>

      <% if interest.verified %>
      <div id="offer-docs-tab" class="tab-pane fade">
      
        <div id="docs" class="associated_entity">      
            <% 
              matched_offer_ids = interest.offers.pluck(:id)
              matched_offer_docs = Document.approved.where(owner_id: matched_offer_ids, owner_type: "Offer")
            %>
            <%= render "/documents/index", documents: matched_offer_docs.includes(:folder), title: "Offer Documents" %>
          
        </div>     
      </div>
      <% end %>      


      <div id="chat-tab" class="tab-pane fade">
        <div id="messages" class="associated_entity">
          <%= link_to messages_path(owner_id: interest.id, owner_type: "Interest"), 
              class: "load_data_link", data: { turbo_frame: 'messages_frame' } do %>
            <span>Loading...</span>
          <% end %>
          <%= turbo_frame_tag "messages_frame", target: "_top" do %>
          <% end %>
        </div>  
      </div>


  </div>

</div>
