  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Expression Of Interests</h1>
    <span>
      <%= link_to "New Interest", 
          new_expression_of_interest_path("expression_of_interest[investment_opportunity_id]": 
              params[:investment_opportunity_id] ), {class: "btn btn-outline-primary ti ti-plus"} if params[:investment_opportunity_id]  %>

      <%= link_to "Download", 
          expression_of_interests_path(format: :xlsx, "investment_opportunity_id": 
              params[:investment_opportunity_id] ), {class: "btn btn-outline-success ti ti-download"} if params[:investment_opportunity_id]  %>
    </span>
  </div>
  
  <div class="table-responsive">
  
    <table id="expression_of_interests" class="table table-bordered dataTable jqDataTable">
  
      <thead>
        <tr>
          <th>
            Created By
          </th>
          <th>
            Stakeholder
          </th>
          <th>
            Amount 
          </th>
          <th>
            Approved
          </th>
          <th>
            Verified
          </th>
          <th>
            Allocation Percentage
          </th>
          <th>
            Allocation Amount 
          </th>
      
          <th>
          </th>
        </tr>
      </thead>
      
      <tbody>
      <% expression_of_interests.each do |expression_of_interest| %>
        <%= render expression_of_interest %>
      <% end %>
      </tbody>
    </table>
  
  </div>