<div class="project_card col-lg-3">

    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title">
                <%= project.name %>
            </h5>
            <div class="card-text">
            </div>
        </div>
    </div>
</div>