<div class="associated_entity" data-controller="tabs tabdetails">

  
    <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
      <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab"
          data-action="click->tabdetails#loadData">Documents</a>

      <% if current_user.curr_role == "fund_manager" %>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#access-rights-tab" 
          data-action="click->tabdetails#loadData">Access Rights</a>
      <% end %>

      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#eoi-tab" 
          data-action="click->tabdetails#loadData">Interests</a>
    </nav>
  
    <div class="tab-content" data-controller="datatable">
  
        <div id="docs-tab" class="tab-pane fade in show active">
          <div id="docs" class="associated_entity">
            <%= render "/documents/index", documents: investment_opportunity.documents, 
                owner: investment_opportunity, entity: investment_opportunity.entity %>
          </div>     
        </div>
        
        <% if current_user.curr_role == "fund_manager" %>
          <div id="access-rights-tab" class="tab-pane fade">

              <% cache(investment_opportunity) do %>
                <div id="access_rights" class="associated_entity">
                  <% access_right = AccessRight.new(
                      owner_id: investment_opportunity.id, 
                      access_type: "InvestmentOpportunity", 
                      owner_type: "InvestmentOpportunity", 
                      entity_id: investment_opportunity.entity_id) %>
                      
                  <%= render "/access_rights/index", access_rights: investment_opportunity.access_rights.includes(:investor, :owner), access_right: access_right %>
                </div>
              <% end %>
          </div>
        <% end %>
  

        <div id="eoi-tab" class="tab-pane fade">
          <div id="eois" class="associated_entity">
            <%= render "/expression_of_interests/index", 
                expression_of_interests: policy_scope(investment_opportunity.expression_of_interests), 
                investment_opportunity: investment_opportunity %>
          </div>     
        </div>
  
    </div>
  
</div>
  