<% category = params[:category] %>
<ul class="nav nav-pills p-3 mb-3 rounded align-items-center card flex-row">
  <li class="nav-item">
    <a href="<%=reports_path(card: true)%>" class="
                      nav-link
                      gap-6
                      note-link
                      d-flex
                      align-items-center
                      justify-content-center
                      <%= category.nil? ? 'active' : '' %>
                      px-3 px-md-3
                      me-0 me-md-2 text-body-color
                    " id="all-category">
      <i class="ti ti-list fill-white"></i>
      <span class="d-none d-md-block font-weight-medium">All Reports</span>
    </a>
  </li>
  
  <li class="nav-item ms-auto">
    <%= render "/reports/new_report" %>
  </li>
</ul>


<div class="tab-content">
  <div id="note-full-container" class="note-has-grid row">
    <% @reports.each do |report| %>
        <%= render "/reports/card", report: report %>
    <% end %>
  </div>
</div>
