<div data-controller="reports">
    <%= form_with(model: nil) do |form| %>
        <div class="form-group row">
            <%= form.select :url, Report.reports_for, {include_blank: "New Report"}, class: "form-control", "data-action": "change->reports#onChange" %>
        </div>
    <% end %>
</div>