<div data-controller="reports" class="row">
    <div class="col">
        <div class="row">
            <input type="text" class="form-control" placeholder="Search" data-action="input->reports#search">
        </div>
    </div>
    <div class="col">
    <%= form_with(model: nil) do |form| %>
        <div class="row">
            <%= form.select :url, Report.reports_for, {include_blank: "New Report"}, class: "form-control", "data-action": "change->reports#onChange" %>
        </div>
    <% end %>
    </div>

    <div class="col">
    <%= form_with(model: nil, url: reports_path(card: true)) do |form| %>
        <div class="row">
            <%= form.select :category, Report.reports_for.keys, {include_blank: "Filter", selected: params[:category]}, class: "form-control", "data-action": "change->reports#filter" %>
        </div>
    <% end %>
    </div>
</div>