<div data-controller="reports" class="row">
    <div class="col">
        <div class="row">
            <input type="text" class="form-control" placeholder="Search" data-action="input->reports#search">
        </div>
    </div>
    <div class="col">
        <%= form_tag(reports_path, method: :get, data: { action: "change->reports#onChange" }) do %>
            <div class="row">
                <%= select_tag :url, options_for_select(Report.reports_for),
                prompt: "New Report",
                class: "form-control" %>
            </div>
        <% end %>
    </div>

    <div class="col">
        <%= form_tag(reports_path(card: true), method: :get, data: { action: "change->reports#filter" }) do %>
        <div class="row">
            <%= select_tag :category, options_for_select(Report.reports_for.keys.map { |key| [key, key] }, params[:category]),
            prompt: "Filter",
            class: "form-control" %>
        </div>
        <% end %>
    </div>
</div>
