<p>Welcome <%= @investor_access.user ? @investor_access.user.name : @investor_access.email %>!</p>

<p>

    You have been granted access as an investor to <%= @investor_access.entity_name %>

    <p class="btn btn-primary"><%= link_to  "Login to Access", new_user_session_url(email: @investor_access.email, subdomain: @investor_access.entity.sub_domain) %></p>

</p>
