<%= render "/layouts/alerts" %>

<%= turbo_frame_tag "valuations_frame", target: "_top" do %>
  <%= render "/valuations/index", valuations: @valuations %>
<% end %>


<div class="associated_entity">
  <%= render "/valuations/charts", entity: current_user.entity %>
</div>