<%= render "/layouts/alerts" %>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Share Transfers</h1>
</div>

<div class="table-responsive" data-controller="datatable">

  <table id="share_transfers" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Entity
        </th>
        <th>
          Type
        </th>
        <th>
          From 
        </th>
        <th>
          To 
        </th>
        <th>
          Quantity
        </th>
        <th>
          Price
        </th>
        <th>
          Transfer Date
        </th>
        <th>
          Transfered By
        </th>
    
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @share_transfers.each do |share_transfer| %>
        <%= render share_transfer %>
      <% end %>
    </tbody>
  </table>

</div>