<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Excercises</h1>
</div>

<div class="table-responsive">

    <table id="excercises" class="table table-bordered dataTable jqDataTable">

        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Option Pool
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Approved
                </th>

                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <% excercises.each do |excercise| %>
                <%= render excercise %>
            <% end %>
        </tbody>
    </table>

</div>