Dear User

<p>
    This is to confirm that the document <%= @document.name %> has been signed by you. 

    <ul>
        <li>
            Please click the button below and read through the document.
        </li>
        <li>
            Please contact us if you have not signed this document.
        </li>
    </ul>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Document', document_url(@document, subdomain: @document.entity.sub_domain) %></p>