<% if @custom_notification %>

    <p><%= @custom_notification.body.html_safe %></p>

<% else %>

<p>Dear User</p>

<p>
    A new document has been uploaded for your review by <%= @document.entity.name %>. 
    Please click on the button below to view the document.
</p>

<% end %>

<p class="btn btn-outline-primary">
    <%= link_to  "View Document", document_url(@document, subdomain: @document.entity.sub_domain) if  @custom_notification.nil? || @custom_notification&.show_link %>
</p>

