<%= render "/layouts/alerts" %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Option Pools</h1>
    <%= link_to "New Option Pool" , new_option_pool_path, {class: "btn btn-outline-primary" } %>
  </div>

  <div class="table-responsive" data-controller="datatable">

    <table id="option_pools" class="table table-bordered dataTable jqDataTable">

      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Start Date
          </th>
          <th>
            Number Of Options
          </th>
          <th>
            Approved
          </th>
          <th>
            Granted
          </th>
          <th>
            Vested
          </th>
          <th>
            Excercised
          </th>
          <th>
            UnExcercised
          </th>
          <th>
            Lapsed
          </th>
          <th>
            Available for Grants
          </th>
          
          <th>
            Excercise Price
          </th>
          <th>
            Excercise Period Months
          </th>
          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @option_pools.each do |option_pool| %>
          <%= render option_pool %>
        <% end %>
      </tbody>
    </table>

  </div>