<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div>
            <h3 class="fs-8"><%= custom_format_number secondary_sale.final_price, params %></h3>
            <h6 class="card-subtitle mb-1 text-muted">Final Price</h6>
          </div>
          <div class="ms-auto">
            <span class="text-success display-6"><i class="ti ti-currency-dollar"></i></span>
          </div>
        </div>
          <div class="progress-bar text-bg-success" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <div>
            <h3 class="fs-8"><%= custom_format_number secondary_sale.total_offered_quantity, params %></h3>
            <h6 class="card-subtitle mb-1 text-muted">Total Offered Quantity</h6>
          </div>
          <div class="ms-auto">
            <span class="text-info display-6"><i class="ti ti-minus"></i></span>
          </div>
        </div>
          <div class="progress-bar text-bg-info" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center mb-3">
              <div>
                <h3 class="fs-8"><%= custom_format_number secondary_sale.total_interest_quantity, params %></h3>
                <h6 class="card-subtitle mb-1 text-muted">Total Interest Quantity</h6>
              </div>
              <div class="ms-auto">
                <span class="text-danger display-6"><i class="ti ti-plus"></i></span>
              </div>
            </div>
          </div>
          <div class="col-12">
              <div class="progress-bar text-bg-danger" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center mb-3">
              <div>
                <h3 class="fs-8"><%= [secondary_sale.allocation_percentage * 100, 100].min %></h3>
                <h6 class="card-subtitle mb-1 text-muted">Offer Allocation Percentage</h6>
              </div>
              <div class="ms-auto">
                <span class="text-warning display-6"><i class="ti ti-percentage"></i></span>
              </div>
            </div>
          </div>
          <div class="col-12">
              <div class="progress-bar text-bg-warning" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

