<%
  allocated_quantity = custom_format_number(secondary_sale.allocation_quantity, params)
  sell_quantity = number_with_delimiter(secondary_sale.total_offered_quantity)
  buy_quantity = number_with_delimiter(secondary_sale.total_interest_quantity)
%>

<%
cards_data = [
  { path: nil, stat: sell_quantity, subtitle: t('secondaries_actions.sell_quantity'), progress_bar_color: "info", text_info: "minus" },
  { path: nil, stat: buy_quantity, subtitle: t('secondaries_actions.buy_quantity'), progress_bar_color: "success", text_info: "plus" } ,
  { path: nil, stat: allocated_quantity, subtitle: t('secondaries_actions.allocated_quantity'), progress_bar_color: "warning", text_info: "check"},
  
]
%>

<div class="row">
    <% cards_data.each do |card_data| %>

        <%= render(NumberStatsComponent.new(
            path: card_data[:path],
            amount: card_data[:stat],
            subtitle: card_data[:subtitle],
            progress_bar_color: card_data[:progress_bar_color],
            text_info: card_data[:text_info]
        )) %>

    <% end %>
</div>

