<%= render "/layouts/alerts" %>
<%= render "/layouts/steps", steps: ["Setup Secondary Sales", "Customize Sale", "Setup Access Rights", 
                        "View/Approve Offers", "Receive/Shortlist Interests"].freeze if current_user.has_cached_role?(:employee) %>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Secondary Sales</h1>
    <%= link_to "New Secondary Sale" , new_secondary_sale_path("secondary_sale[entity_id]": current_user.entity_id),
      {class: "btn btn-outline-primary" } if current_user.has_cached_role?(:employee) %>
  </div>

  <div class="table-responsive" data-controller="datatable">


    <table id="secondary_sales" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Total Offered
          </th>
          <th class="hideMobP">
            Entity
          </th>
          <th class="hideMobP">
            Start Date
          </th>
          <th class="hideMobP">
            End Date
          </th>
          <th class="hideMobP">
            Min Price
          </th>
          <th class="hideMobP">
            Max Price
          </th>
          <th class="hideMobP">
            Active
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @secondary_sales.each do |secondary_sale| %>
          <%= render secondary_sale %>
        <% end %>
      </tbody>
    </table>

  </div>