<% cache ["InvestorNotice", current_user.entity] do %>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <% 
            active = "active" 
            notices = InvestorNotice.notices(investor_entity_id)
            # If user has come in via a subdoamin, show that notice first
            notices = notices.order_by(entity_id: @current_entity.id) if @current_entity
        %>
        <% notices.each do |investor_notice| %>
            <div class="carousel-item <%= active %>">
                <%= render "/investor_notices/preview" , investor_notice: investor_notice %>
            </div>
            <% active = '' %>
        <% end %>
    </div>

    <% if InvestorNotice.notices(investor_entity_id).count > 0 %>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <% end %>

</div>

<% end %>