<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Finalize Allocations</h1>
    <% download_disabled =  @secondary_sale.allocation_status == 'Completed' ? nil : 'disabled' %>
    <%= link_to "Download Allocations" , download_secondary_sale_path(@secondary_sale, format: "xlsx"), 
            {class: "btn btn-success #{download_disabled}"  } if @secondary_sale.allocation_status.present? %> 

</div>

<div class="divTable minimalistBlack">
    <div class="divTableHeading datatable jqDataTable">
        <div class="divTableRow thead">
            <div class="divTableHead">User</div>
            <div class="divTableHead">Investor</div>
            <div class="divTableHead">Quantity</div>
            <div class="divTableHead">Holding %</div>
            <div class="divTableHead">Final Price</div>
            <div class="divTableHead">Allocated %</div>
            <div class="divTableHead">Allocation Quantity</div>
            <div class="divTableHead">Allocation Amount</div>
            <div class="divTableHead">Approved</div>
            <div class="divTableHead">PAN</div>
            <div class="divTableHead">Address</div>
            <div class="divTableHead">Bank</div>
            <div class="divTableHead">Bank Account</div>
            <div class="divTableHead">Routing Info</div>
            <div class="divTableHead">Verifed</div>
            <div class="divTableHead">Comments</div>
        </div>
    </div>
    <div class="divTableBody tbody">
        <% @offers.each do |offer| %>
            <%= render "offers/final_offer", offer: offer %>
        <% end %>        
    </div>
    <div class="divTableFoot tableFootStyle">
        <div class="divTableRow">
            <div class="divTableCell">foot1</div>
            <div class="divTableCell">foot2</div>
            <div class="divTableCell">foot3</div>
            <div class="divTableCell">foot4</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
            <div class="divTableCell">foot5</div>
        </div>
    </div>

</div>
<%=paginate @offers %>
