<h1>New Secondary Sale</h1>



<div class="row">
    <div class="col-md-7">
        <%= render "form_wizard", secondary_sale: @secondary_sale %>
    </div>
    <div class="col-md-5 form_wizard_faq">
      <%= render "/secondary_sales/faq", secondary_sale: @secondary_sale %>
    </div>
</div>