<% hide_show_btn ||= false %>

<div class="io_card col">

    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">
            <h5 class="card-title">
                <%= link_to investment_opportunity.company_name, investment_opportunity %>
            </h5>
        </div>
        <div class="card-body">
            <div class="card-text">
                <% if investment_opportunity.logo.present? %>
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <%= image_tag investment_opportunity.logo.url(expires_in: 60*60*24*7), class: "ci-logo" %>
                    </div>
                <% end %>
                <%= render "/investment_opportunities/card_table2", investment_opportunity: investment_opportunity %>

                <div class="row">
                    <% link = policy(investment_opportunity).update? ? investment_opportunity_path(investment_opportunity) : investment_opportunity_path(investment_opportunity, preview: true) %>
                    <%= link_to "Show" , link , {class: "btn btn-outline-primary" } unless hide_show_btn %>
                </div>
            </div>
            
        </div>
    </div>
</div>