<% col_size ||= 12 %>
<% 
    hide_show_btn ||= false
    params[:force_units] = investment_opportunity.default_currency_units 
%>


<div class="io_card col col-md-4">


    <div class="card inner_card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-header">
            <h3 class="card-title">
                <%= link_to investment_opportunity.company_name, investment_opportunity, class: "text-primary" %>

            </h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <% if investment_opportunity.logo.present? %>
                    <div class="d-sm-flex align-items-center justify-content-between text-center">
                        <%= image_tag investment_opportunity.logo.url(expires_in: 60*60*24*7), class: "ci-logo" %>
                    </div>
                <% end %>
                
                <%= render "/investment_opportunities/card_table2", investment_opportunity: investment_opportunity, show_tags:, col_size: %>                                
                
                <div class="text-center">
                    <% link = policy(investment_opportunity).update? ? investment_opportunity_path(investment_opportunity) : investment_opportunity_path(investment_opportunity, preview: true) %>
                    <%= link_to  t_common(:show) , link , {class: "btn btn-outline-primary btn-lg" } unless hide_show_btn %>
                </div>
            </div>
            
        </div>
    </div>
</div>

<% params[:force_units] = nil %>