
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-3">
            <div class="card border-left-primary shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Fund Raise Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <%= money_to_currency investment_opportunity.fund_raise_amount, params %>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-3">
            <div class="card border-left-success shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Approved EOI Amount
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <%= money_to_currency investment_opportunity.eoi_amount, params %>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-3">
            <div class="card border-left-info shadow py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Valuation
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                        <%= money_to_currency investment_opportunity.valuation, params %>
                                    </div>
                                </div>
                                <div class="col">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
            <div class="col-sm-3">
                <div class="card border-left-warning shadow py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Min Ticket Size
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <%=  money_to_currency investment_opportunity.min_ticket_size, params %>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        

    </div>
