
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Offers</h1>
    <span>
        <%= link_to "All Offers", offers_secondary_sale_path(@secondary_sale), 
                                  class: "btn btn-primary" if @secondary_sale %>


    </span>
</div>

<div class="table-responsive" data-controller="datatable">

<table id="offers" class="table table-bordered dataTable">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Investor
            </th>
            <% if show_secondary_sale %>
            <th>
                Secondary Sale
            </th>
            <% end %>
            <th>
                Funding Round
            </th>
            <th>
                Quantity
            </th>
            <th>
                Holding %
            </th>
            <th>
                Allocation Quantity
            </th>
            <th>
                Allocation %
            </th>
            <th>
                Price
            </th>
            <th>
                Allocation Amount
            </th>
            <th>
                Notes
            </th>
            <th>
                Approved
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        <% offers.each do |offer| %>
            <%= render offer, show_entity: show_entity, show_secondary_sale: show_secondary_sale, secondary_sale: secondary_sale %>
        <% end %>
    </tbody>
</table>

</div>

<%=paginate @offers %>
