<% if current_user %>
    <% notification_count = 
        current_user.notifications.unread.count %>

    <!-- ------------------------------- -->
    <!-- start notification Dropdown -->
    <!-- ------------------------------- -->
    <li class="nav-item dropdown">
        <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                aria-expanded="false">
        <i class="ti ti-bell-ringing"></i>
        <div class="notification bg-primary rounded-circle"></div>
        </a>
        <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up"
                aria-labelledby="drop2">
        <div class="d-flex align-items-center justify-content-between py-3 px-7">
            <h5 class="mb-0 fs-5 fw-semibold">Notifications</h5>
            <span class="badge text-bg-primary rounded-4 px-3 py-1 lh-sm"><%= notification_count%> new</span>
        </div>

        <div class="py-6 px-7 mb-1">
            <a href="/notifications?user_id=<%=current_user.id%>" class="btn btn-outline-primary w-100">See All Notifications</a>
        </div>
        </div>
    </li>
    <!-- ------------------------------- -->
    <!-- end notification Dropdown -->
    <!-- ------------------------------- -->

<% end %>
