<!-- Sidebar Start -->
    <aside class="left-sidebar with-vertical">
      <div><!-- ---------------------------------- -->
        <!-- Start Vertical Layout Sidebar -->
        <!-- ---------------------------------- -->
        <div class="brand-logo mt-2 align-items-center justify-content-between text-center">
          <div class="sidebar-brand-icon left-logo">
          <a href="/" class="text-nowrap logo-img">            
             <% if current_user && current_user.entity.logo %>
              <%= image_tag image_url(current_user.entity.logo.url(expires_in: 60*60*24*7), class: "img-responsive") %>              
            <% else %>
              <img src="/img/logo-without-tagline.jpg" class="dark-logo" alt="Logo-Dark" />
              <img src="/img/logo-without-tagline.jpg" class="light-logo" alt="Logo-light" />
            <% end %>
          </a>
          </div>
          <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
            <i class="ti ti-x"></i>
          </a>
        </div>


        <%= render "/layouts/sidebar" %>

        <%= render "/layouts/modernize/sidebar_logout" %>


        <!-- ---------------------------------- -->
        <!-- Start Vertical Layout Sidebar -->
        <!-- ---------------------------------- -->
      </div>
    </aside>
<!--  Sidebar End -->