<!-- Sidebar Start -->
    <aside class="left-sidebar with-vertical">
      <div><!-- ---------------------------------- -->
        <!-- Start Vertical Layout Sidebar -->
        <!-- ---------------------------------- -->
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <div class="sidebar-brand-icon left-logo">
          <a href="/" class="text-nowrap logo-img">
            <img src="/img/logo-without-tagline.jpg" class="dark-logo" alt="Logo-Dark" />
            <img src="/img/logo-without-tagline.jpg" class="light-logo" alt="Logo-light" />
          </a>
          </div>
          <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
            <i class="ti ti-x"></i>
          </a>
        </div>


        <%= render "/layouts/sidebar" %>

        <%= render "/layouts/modernize/sidebar_logout" %>


        <!-- ---------------------------------- -->
        <!-- Start Vertical Layout Sidebar -->
        <!-- ---------------------------------- -->
      </div>
    </aside>
<!--  Sidebar End -->