<div class="form-group <%= field.read_only ? 'hidden_form_field' : '' %>" data-controller="currencyformat">
    <%= f.label field.name, field.human_label %> <span class="formatted_currency"></span>
    <%= f.number_field field.name, class: "form-control custom_field", required: field.required, step: :any, data: {action: "input->currencyformat#format"} %>
    <small class="text-muted"><%= field.help_text %></small>
</div>
