<div class="form-group <%= field.read_only ? 'hidden_form_field' : '' %>">
    <%= f.label field.name, field.human_label %>
    <%= f.number_field field.name, step: :any,  class: "form-control custom_field", required: field.required %>
    <small class="text-muted"><%= field.help_text.html_safe %></small>
</div>
