<div class="form-group">
    <%= f.label field.name, field.name.humanize.titleize %><br>
    <% field.meta_data.split(",").each do |option| %>
        <%= f.radio_button field.name, option, required: field.required, class: "form-control form-radio" %> 
        <%= f.label option, class: "radio_label" %>
    <% end %>
    <br>
    <small class="text-muted"><%= field.help_text %></small>
</div>