<% edit_path ||= nil %>
<% regulatory_custom_fields = object.form_type.present? ? object.form_custom_fields.regulatory : [] %>
      
<% if regulatory_custom_fields.present? %>
    <% reg_envs = regulatory_custom_fields.pluck(:reg_env).uniq
    reg_envs.each do |reg_env| %>

        <%= render ToggleCard.new(title: "#{reg_env.humanize.titleize} Reporting Fields", css_class: "show_reporting_fields_#{reg_env}", state: "closed") do %>
            <table class="table table-bordered dataTable">
                <% fields = regulatory_custom_fields.for_env(reg_env) %>

                <%= display_custom_fields(object, collapsed: true, custom_fields: fields, timestamps_and_snapshot: false) %>
            </table>

            <% if edit_path.present? && policy(object).edit_reporting_fields? %>
                <div class="associated_entity">
                    <%= link_to  t_common(:edit), edit_path, {class: "btn btn-outline-primary ti ti-edit"} %>
                </div>
            <% end %>

        <% end %>
    <% end %>
<% end %>