<div class="form-group  <%= field.read_only ? 'hidden_form_field' : '' %>">
    <%= f.label field.name, field.name.humanize.titleize %>
    <% options = field.meta_data.present? ? field.meta_data.split(",") : [] %>
    <%= f.select field.name, options, {}, class: "form-control custom_field", required: field.required %>
    <small class="text-muted"><%= field.help_text %></small>
</div>