<div class="form-group <%= field.read_only ? 'hidden_form_field' : '' %>">
    <%= f.label field.name, field.human_label %>
    <%= f.text_area field.name, class: "form-control custom_field", required: field.required, rows: field.meta_data %>
    <small class="text-muted"><%= field.help_text.html_safe %></small>
</div>
