<% 
  widget_size ||= "col-md-6" 
  name ||= nil 
  args ||= {}
  uri_params ||= {}
  uri = URI("/notes")
  uri.query = URI.encode_www_form(uri_params) if uri_params.present?
%>
<div class="<%= widget_size %> d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body">            
        <%= turbo_frame_tag "notes_frame", target: "_top", src: "#{uri.to_s}" do %>            
        <%end%>
        <p class="mb-0"><%= name || "Notes" %></p>
    </div>
  </div>
</div>

