<p>Dear User</p>

<p>Thank you for completing the eSign process for your capital commitment. Please use the link below to view the details. </p>


<p class="btn btn-outline-primary"><%= link_to  "View Capital Commitment",  [@esign.owner, subdomain: @esign.entity.sub_domain] %></p>