<div id="presence-list-container"></div>

<div id="editor-container">
    <div class="container">
        <div id="editor" data-controller="ck"></div>
        <div class="sidebar" id="sidebar"></div>
    </div>
</div>

<div id="revision-viewer-container">
    <div class="container">
        <div id="revision-viewer-editor"></div>
        <div class="sidebar" id="revision-viewer-sidebar"></div>
    </div>
</div>
