<div class="table-responsive" data-controller="datatable">

    <table id="deals" class="table table-bordered dataTable jqDataTable">
        <thead>
            <tr>
                <th>
                    <strong>Name</strong>
                </th>
                <th>
                    <strong>Amount</strong>
                </th>
                <th class="hideMobP">
                    <strong>Status</strong>
                </th>

            </tr>
        </thead>
        <tbody>
            <% deals.each do |deal| %>
                <%= render deal %>
            <% end %>
        </tbody>
    </table>

</div>

