<%= turbo_frame_tag "kanban_#{deal.id}_columns" do %>
  <div class="row scrumboard" id="cancel-row" data-controller="kanban">
    <div class="col-lg-12 layout-spacing pb-3">
      <div data-simplebar="init" class="simplebar-scrollable-x">
        <div class="simplebar-wrapper" style="margin: 0px;">
          <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
          </div>
          <div class="">
            <div class="simplebar-offset">
              <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content">
                <div class="simplebar-content">
                  <div class="task-list-section mb-7"  style="overflow-x: auto;">
                    <% deal_activities.each do |deal_activity| %>
                      <% deal_investors_temp = deal_investors.where(deal_activity_id: deal_activity.id) %>
                      <%= render KanbanColumnComponent.new(deal_activity, deal, current_user, deal_investors_temp) %>
                    <% end %>
                    <%= turbo_frame_tag "deal_activities_columns_#{deal.id}" do %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="simplebar-placeholder"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal">
          <div class="simplebar-scrollbar" style="width: 866px; display: block; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
        <div class="simplebar-track simplebar-vertical">
          <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
