<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Deal Investors</h1>

  <span>
    <%= link_to "New Deal Investor", new_deal_investor_path("deal_investor[deal_id]": params[:deal_id],
                "deal_investor[entity_id]": current_user.entity_id ),
                {class: "btn btn-outline-primary"} if params[:deal_id] %>

    <%= render "investments/currency_form" %>
  </span>
</div>

<div class="table-responsive">

  <table id="deal_investors" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Deal
        </th>
        <th>
          Start Date
        </th>
        <th>
          Investor
        </th>
        <th>
          Entity
        </th>
        <th>
          Pre Money Valuation
        </th>
        <th>
          Primary Amount
        </th>
        <th>
          Secondary Investment
        </th>
        <th>
          Company Advisor
        </th>
        <th>
          Investor Advisor
        </th>
        <th>
          Action
        </th>

      </tr>
    </thead>
    <tbody>
      <% deal_investors.each do |deal_investor| %>
        <%= render deal_investor %>
      <% end %>
    </tbody>
  </table>

  </div>

