<div id="remittance_details" class="associated_entity" data-controller="tabs tabdetails">
  
  <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab">Documents</a>
  </nav>

  <div class="tab-content" data-controller="datatable">
    
  
    <div id="docs-tab" class="tab-pane fade in show active">
      <div id="docs" class="associated_entity">
        <%= render "/documents/index", documents: capital_distribution_payment.documents, 
                owner: capital_distribution_payment, entity: capital_distribution_payment.entity %>
      </div>
    </div>

  </div>

</div>
