<div id="remittance_details" class="associated_entity" data-controller="tabs tabdetails">

  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab">Documents</a>
    <a class="nav-link" data-bs-toggle="pill" data-bs-toggle="tab" href="#fund-units-tab"
            data-action="click->tabdetails#loadData">Units</a>
  </nav>

  <div class="tab-content" data-controller="datatable">


    <div id="docs-tab" class="tab-pane fade in show active">
      <div id="docs" class="associated_entity">
        <%= render "/documents/index", documents: capital_distribution_payment.documents,
                owner: capital_distribution_payment, entity: capital_distribution_payment.entity %>
      </div>
    </div>

    <div id="fund-units-tab" class="tab-pane fade">
      <div id="fund_units" class="associated_entity">
        <%= turbo_frame_tag "fund_units_list", target: "_top", src: fund_units_path(owner_type: "CapitalDistributionPayment", owner_id: capital_distribution_payment.id), loading: :lazy do %>
          <%= render "/layouts/loading" %>
        <% end %>
      </div>
    </div>

  </div>

</div>
