<div class="row">
    <div class="col-lg-12 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> Quantity </h6>
            </div>
            <div class="card-body">
                <%= portfolio_company_irr_chart(fund, orig_xirr, scenario_xirr, fund_orig_xirr, fund_scenario_xirr) %>
            </div>
        </div>
    </div>
</div>