<% folder_id ||= params[:folder_id] %>

<% if params[:q].present? %>

    <%= bulk_action_button("Approve", "This will approve each document in the search results (including results on other pages). Proceed?", folder_id: folder_id) if current_user.has_cached_role?(:approver) %>

    <%= bulk_action_button("Send For eSignatures", "This will send each document in the search results (including results on other pages) for eSignatures. Proceed?", folder_id: folder_id) %>

    <%= bulk_action_button("Delete", "This will send delete all documents in the search results (including results on other pages). Proceed?", folder_id: folder_id) %>

    <div class="dropdown-divider"></div>

    <span class="dropdown-item-text">Email Using Template:</span>

    <% query_params = ransack_query_params_multiple([
                                                    ['for_type', :eq, "Send Document"]
                                                    ])
    %>
    <% current_user.entity.custom_notifications.enabled.where(for_type: "Send Document").each do |cust_not| %>
        <% msg = "This will send an email for each document in the search results (including results on other pages) using custom notification<br><strong>#{link_to cust_not.subject, custom_notification_path(cust_not), target: '_blank'}</strong><br>Proceed?<br>
        #{link_to 'View Custom Notifications', custom_notifications_path(entity_id: current_user.entity_id, filter: true, q: query_params), class: 'mb-1 badge bg-primary-subtle text-primary', target: '_blank'}"
        %>

        <%= bulk_action_button("Send Document", msg, folder_id: folder_id, custom_notification_id: cust_not.id, label: cust_not.subject) if params[:q].present? %>
    <% end %>

<% end %>
