<tr id="fund_formula_<%=fund_formula.id%>">
  <%= render RansackTableRow.new(model: fund_formula, columns:) %>

  <td>
    <%= link_to  t_common(:show), fund_formula , {class: "btn btn-outline-primary"}%>
    <%= link_to  t_common(:edit), edit_fund_formula_path(fund_formula) , {class: "btn btn-outline-success"} if policy(fund_formula).update? %>
  </td>
</tr>
