<div class="associated_entity" data-controller="tabs tabdetails">
  
    <nav class="nav nav-tabs nav-fill nav-justified"  role="tablist">
      <a class="nav-link active" data-bs-toggle="pill" data-toggle="tab" href="#holdings-tab">
            Holdings
      </a>
      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#excercised-tab">
        Excercised
      </a>

      <a class="nav-link" data-bs-toggle="pill" data-toggle="tab" href="#docs-tab">Documents</a>

    </nav>
  
    <div class="tab-content" data-controller="datatable">

        <div id="holdings-tab" class="tab-pane fade in show active">   
            <div id="holdings" class="associated_entity">             
                <%= render "/holdings/index" , 
                    holdings: @option_pool.holdings.includes(:entity, :funding_round,:user),
                    secondary_sale: nil, only_options: true, import_upload: @option_pool.approved %>
            </div>
        </div>
        <div id="excercised-tab" class="tab-pane fade">
            <div id="excercises" class="associated_entity">
                <%= render "/excercises/index" , excercises: @option_pool.excercises.includes(:entity, :option_pool, :user), secondary_sale: nil %>
            </div>
        </div>
        <div id="docs-tab" class="tab-pane fade">
            <div id="docs" class="associated_entity">
              <% 
                documents = @option_pool.documents.includes(:folder, tags: :taggings) 
              %>
              <%= render "/documents/index", owner: @option_pool, entity: @option_pool.entity, 
                  documents:  %>
            </div>     
        </div>
  
    </div>
  
  </div>
  