<div class="col d-flex align-items-stretch">
    <div class="card w-100 bg-primary-subtle overflow-hidden shadow-none">
    <div class="card-body position-relative">
        <div class="row">
        <div class="col-sm-9">
            <div class="d-flex align-items-center mb-7">
                <h3 class="mb-1 fw-semibold fs-8 d-flex align-content-center"><%= aggregate_portfolio_investment.portfolio_company_name %></h3>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
