<% if fund %>
  <% cache_if(current_user != nil, cache_key(["api_stats", fund]), expires_in: 5.day) do %>
    <% params[:force_units] = fund.default_currency_units %>

    <% cards_data = [
      { path: nil, stat: money_to_currency(Money.new(fund.portfolio_investments.sum(:net_bought_amount_cents), fund.currency), params), subtitle: "Bought Amount", progress_bar_color: "success", text_info: "currency-dollar" },
      { path: nil, stat: money_to_currency(Money.new(fund.aggregate_portfolio_investments.sum(:sold_amount_cents), fund.currency), params), subtitle: "Sold Amount", progress_bar_color: "danger", text_info: "cash" },
      { path: nil, stat: money_to_currency(Money.new(fund.aggregate_portfolio_investments.sum(:fmv_cents), fund.currency), params), subtitle: "FMV", progress_bar_color: "info", text_info: "graph" },
      { path: nil, stat: money_to_currency(Money.new(fund.aggregate_portfolio_investments.sum(:cost_of_remaining_cents), fund.currency), params), subtitle: "Cost Of Remaining", progress_bar_color: "warning", text_info: "currency-dollar" },
      { path: nil, stat: money_to_currency(Money.new(fund.portfolio_cashflows.sum(:amount_cents), fund.currency), params), subtitle: "Income", progress_bar_color: "success", text_info: "currency-dollar" },
    ] %>

    <div class="row">
      <% cards_data.each do |card_data| %>
        <%= render(NumberStatsComponent.new(
                    path: card_data[:path],
                    amount: card_data[:stat],
                    subtitle: card_data[:subtitle],
                    progress_bar_color: card_data[:progress_bar_color],
                    text_info: card_data[:text_info]
        )) %>
      <% end %>
    </div>

    <% params[:force_units] = nil %>
  <% end %>
<% end %>
