  <% owner = params[:fund_id].present? ? Fund.find(params[:fund_id]) : current_user.entity %>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Distributions</h1>

    <span>
      <%= link_to "New Distribution" , new_capital_distribution_path("capital_distribution[fund_id]": params[:fund_id]), {class: "btn btn-outline-primary" } if params[:fund_id].present? %>

      <%= link_to "Upload", 
            new_import_upload_path("import_upload[owner_id]": owner.id, 
            "import_upload[owner_type]": owner.class.name, 
            "import_upload[import_type]": "CapitalDistribution", 
            "sample_upload": "CAPITAL_DISTRIBUTION_SAMPLE"), 
            { class: "btn btn-outline-primary"}  %> 
    
      <%= link_to "Download" , capital_distributions_path(fund_id: params[:fund_id], format: "xlsx"), {class: "btn btn-outline-success" } if params[:fund_id].present? %>

    
    </span>
  </div>

  <div class="table-responsive" data-controller="datatable" data-datatable-money-columns-value="2,3,5" data-datatable-responsive-details-value=true>

    <table id="capital_distributions" class="table table-bordered  dataTable action_table jqDataTable">
      <thead>
        <tr>
          <th>
            Type
          </th>
          <th>
            Title
          </th>
          <th>
            Gross Amount
          </th>
          <th>
            Reinvestment
          </th>
          <th>
            Distribution Date
          </th>
          <th>
            Payments
          </th>
          <th>
            Approved
          </th>

          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% capital_distributions.each do |capital_distribution| %>
          <%= render capital_distribution %>
        <% end %>
      </tbody>
    </table>

  </div>