
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Capital Distributions</h1>

    <span>
      <%= link_to "New Capital Distribution" , new_capital_distribution_path("capital_distribution[fund_id]": params[:fund_id]), {class: "btn btn-outline-primary" } if params[:fund_id].present? %>

      <%= link_to "Download" , capital_distributions_path(fund_id: params[:fund_id], format: "xlsx"), {class: "btn btn-outline-primary" } if params[:fund_id].present? %>

      <%= link_to "Upload", 
            new_import_upload_path("import_upload[owner_id]": params[:fund_id], 
            "import_upload[owner_type]": "Fund", 
            "import_upload[import_type]": "CapitalDistribution", 
            "sample_upload": "CAPITAL_DISTRIBUTION_SAMPLE"), 
            { class: "btn btn-outline-primary"}  %> 
    
    </span>
  </div>

  <div class="table-responsive">

    <table id="capital_distributions" class="table table-bordered dataTable jqDataTable">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Gross Amount
          </th>
          <th>
            Carry
          </th>
          <th>
            Fee
          </th>
          <th>
            Distribution Date
          </th>
          <th>
            Payments
          </th>
          <th>
            Approved
          </th>

          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% capital_distributions.each do |capital_distribution| %>
          <%= render capital_distribution %>
        <% end %>
      </tbody>
    </table>

  </div>