
<tr id="portfolio_investment_<%= portfolio_investment.id %>">

  <%= render RansackTableRow.new(model: portfolio_investment, columns:) %>

  <td>
    <%= link_to "Show", portfolio_investment , {class: "btn btn-outline-primary"}%>
  </td>

</tr>

