<tr id="<%= dom_id investment_instrument %>">
  <td>
    <%= investment_instrument.name %>
  </td>
  <td>
    <%= link_to "Show", investment_instrument , {class: "btn btn-outline-primary"}%>
  </td>
</tr>
