<h3>Dear Investor</h3>

<p>
    A friendly reminder that <%= @capital_call.entity.name %> has issued a capital call. 
</p>

<p>
    <%= render "/capital_calls/show", capital_call: @capital_call, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Call', capital_call_url(@capital_call, subdomain: @capital_call.entity.sub_domain) %></p>
