<div class="associated_entity" data-controller="tabs tabdetails">


  <nav class="nav nav-pills nav-justified p-3 mb-3 rounded align-items-center card flex-row"  role="tablist">
    <a class="nav-link active" data-bs-toggle="pill" data-bs-toggle="tab" href="#docs-tab"
        data-action="click->tabdetails#loadData">Documents</a>
  </nav>


  <div class="tab-content" data-controller="datatable">

      <div id="docs-tab" class="tab-pane fade in show active">
        <div id="docs" class="associated_entity">
          <% msg = nil %>
          <%= render "/documents/index", documents: @custom_notification.documents.includes(:folder),
              owner: @custom_notification, entity: @custom_notification.entity, msg: msg %>
        </div>
      </div>
  </div>
</div>
