<% 
  owner ||= current_user.entity 
  if owner == current_user.entity
    entity_id = current_user.entity_id
  else
    entity_id = owner.entity_id
  end
%>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Custom Notifications</h1>
  <%= link_to "New Custom Notification", new_custom_notification_path("custom_notification[entity_id]": entity_id, "custom_notification[owner_id]": owner.id, "custom_notification[owner_type]": owner.class.name), {class: "btn btn-outline-primary"}  if owner %>
</div>
<div class="table-responsive" data-controller="datatable">

  <table id="custom_notifications" class="table table-bordered dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Subject
        </th>
        <th>
          Whatsapp
        </th>
        <th>
          Owner
        </th>
        <th>
          For
        </th>
        <th>
          Show Details
        </th>
        <th>
          Password Protect Attachment
        </th>        
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <% custom_notifications.each do |custom_notification| %>
        <%= render custom_notification %>
      <% end %>
    </tbody>

  </table>

  
</div>