  div.minimalistBlack {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    overflow-x: scroll;
  }

  .divTable.minimalistBlack .divTableBody .divTableCell {
    border: 1px solid #e3e6f0;
    padding: 0.75rem;
    vertical-align: top;
  }

  .odd .divTableCell {
    background-color: #f9f9f9;
  }

  .even .divTableCell {
    background-color: #fff;
  }

  .divTable.minimalistBlack .divTableHeading .divTableHead {
    background-color: white;
    color: #858796;
    font-weight: bold;
    border: 1px solid #e3e6f0;
    border-bottom: 2px solid #e3e6f0;
    border-top: 2px solid #e3e6f0;

    padding: 0.75rem;
    vertical-align: top;
  }
  .minimalistBlack .tableFootStyle {
    
  }
  .minimalistBlack .tableFootStyle {
    
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}