
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Pending Remittances</h1>
</div>
<table class="table table-bordered dataTable no_hover_table">

  <tr>
    <td>
      Fund Name
    </td>
    <td>
      <%= link_to @fund.name, @fund %>
    </td>
  </tr>


  <tr>
    <td>
      Call Amount
    </td>
    <td>
      <%= money_to_currency @fund.call_amount, params %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="bg-primary"></td>
  </tr>

  <tr>
    <td colspan="2">

      <%= turbo_frame_tag "capital_remittances_frame", target: "_top", loading: :lazy, src: capital_remittances_path(fund_id: @fund.id, status: "Pending,Overdue", verified: "") do %>
            <%= render "/layouts/loading" %>
      <% end %>
    </td>
  </tr>

</table>