

<div data-controller="datatable">
  <%
    title = "Onboarding Report: #{link_to(@fund.name, @fund)}"
    column_names = ["Folio", "Investor", "Investing Entity", "Unit Type", "Committed", "Documents", "Onboarding Complete", " "].join(",")
    field_list = ["folio_id", "investor_name", "full_name", "unit_type", "committed_amount", "document_names", "onboarding_completed", "dt_actions"].join(",")
  %>
  
  <turbo-frame id="<%= "capital_commitments_frame" %>" 
               src="<%= url_for(controller: "capital_commitments", action: :index, onboarding_completed: false) %>" 
               loading="lazy" target="_top">
    <p>Loading Capital Commitments...</p>
  </turbo-frame>
</div>
