<%= render "/layouts/alerts" %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Onboarding Report</h1>
</div>
<table class="table table-bordered dataTable">

  <tr>
    <td>
      Fund Name
    </td>
    <td>
      <%= link_to @fund.name, @fund %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="bg-primary"></td>
  </tr>

  <tr>
    <td colspan="2">
        <div data-controller="datatable">
          <%= render "/capital_commitments/index", 
              capital_commitments: @fund.capital_commitments.lp_onboarding_incomplete.includes(:investor, :fund), toolbar: "No" %>

          <%= render "/capital_commitments/index", fund: @fund,
                lazy_load_data: true, data_source: capital_commitments_path(fund_id: fund.id, all: true) %>
        </div>
    </td>
  </tr>


</table>