<h3>Dear <%= @holding.user.full_name %></h3>

<p>
    Your holdings have been <%= @label %>. 
</p>

<p>
    <%= render "/holdings/show", holding: @holding, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Holding', holding_url(@holding) %></p>
