<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800 col-6">Access Rights</h1>
  <%
    access_right ||= params[:entity_id].present? ? AccessRight.new(access_to_investor_id: params[:access_to_investor_id], owner_id: params[:owner_id], owner_type: params[:owner_type], entity_id: params[:entity_id], access_type: params[:access_type]) : nil
  %>
  <span>
    <%= link_to "Grant Access",
                  new_access_right_path(
                      "access_right[access_to_investor_id]": access_right.access_to_investor_id,
                      "access_right[access_type]": access_right.access_type,
                      "access_right[owner_id]": access_right.owner_id,
                      "access_right[owner_type]": access_right.owner_type,
                      "access_right[entity_id]": access_right.entity_id,
                      form_type: params[:form_type]),
                      { data: { turbo_frame: 'new_access_right' },
                      method: :get, class: "btn btn-outline-primary mt-0" } if access_right && policy(access_right.owner).update? && params[:form_type] != "none" %>

    <%= render "/funds/search_bar", model_name: "access_right" if access_right && access_right.owner_type == "Fund"%>
  </span>
</div>

<% if access_right && params[:form_type] != "none" %>
  <%= turbo_frame_tag "new_access_right" do %>
  <% end %>
<% end %>

<%
  show_metadata ||= "Yes"
  show_for ||= "Yes"
%>
<div class="table-responsive">

  <table id="access_rights_table" class="table table-bordered  dataTable jqDataTable">
    <thead>
      <tr>
        <th>
          Access To
        </th>
        <th>
          Access Type
        </th>
        <% if show_metadata == "Yes" %>
          <th>
            Metadata
          </th>
        <% end %>
        <% if show_for == "Yes" %>
          <th>
            For
          </th>
        <% end %>
        <th>
          Granted By
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody id="access_rights_table_body">
      <% access_rights = access_rights.includes(:granted_by) if access_rights.respond_to?(:includes) %>
      <% access_rights.includes(:user).each do |access_right| %>
        <%= render access_right, access_right: access_right, show_for: show_for, show_metadata: show_metadata %>
      <% end %>
    </tbody>

  </table>

</div>

<div class="alert alert-info text-center associated_entity">
  Access rights work at the level of the stakeholder firm. To permission individuals from the stakeholder firms
  please setup Stakeholder Users under a Stakeholder
</div>
