<% @current_entity ||= nil %>
<div class="brand-content animate-fade-in">
    <div class="splash-logo mb-4">
        <% image = @current_entity&.logo&.url || "/img/logo_big.png" %>
        <%= image_tag(image, class: "devise-logo img-fluid") %>
    </div>
    <div class="powered-by mt-auto">
        Powered by <span class="highlight">Cap</span>Hive
    </div>
</div>
