<% owner ||= nil %>
<% target ||= nil %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Track Record</h1>
  <% options = {class: "btn btn-outline-primary"} %>
  <% options[:target] = target if target.present? %>
  <%= link_to "New Track Record", new_ci_track_record_path("ci_track_record[owner_id]": owner&.id, "ci_track_record[owner_type]": owner&.class), options if !owner.blank? %>
</div>
<div class="table-responsive" data-controller="datatable">
  <table id="ci_track_records" class="table table-bordered dataTable">
    <thead>
      <tr>
        <th>
          Name
        </th>

        <th>
          Prefix
        </th>

        <th>
          Value
        </th>

        <th>
          Suffix
        </th>
        <th>
          Details
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% ci_track_records.each do |ci_track_record| %>
        <%= render ci_track_record %>
      <% end %>
    </tbody>
  </table>
</div>
