    <div class="row center">

        <% investment_opportunity.ci_track_records.each_with_index do |track_record, idx| %>
            <div class="col">
                <% color = ["success", "primary", "warning", "success", "primary", "info", "warning"][idx % 7] %>            

                <div class="col d-flex align-items-stretch">
                    <div class="card w-100">
                        <div class="card-header text-bg-<%=color%>">
                            <h4 class="mb-0 text-white card-title"><%= track_record.name %></h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><%= track_record.to_s %></h3>
                            <p class="card-text">
                                <%= track_record.details %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        <% end %>
        
    </div>
