<div class="io-preview-container mt-5 mb-5">
    <div class="row center g-4">
        <% owner.ci_track_records.each_with_index do |track_record, idx| %>
            <div class="col-md-4">
                <% color_class = ["text-bg-success", "text-bg-primary", "text-bg-warning", "text-bg-info", "text-bg-danger"][idx % 5] %>

                <div class="preview-section-card track-record-card h-100">
                    <div class="card-header-colored <%= color_class %>">
                        <h4 class="mb-0 text-white"><%= track_record.name %></h4>
                    </div>
                    <div class="card-body-track">
                        <h3><%= track_record.to_s %></h3>
                        <p>
                            <%= track_record.details %>
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
