<%= form_with(model: nil, method: :post, url: "/investor_advisors/switch", id: "persona_form") do |form| %>
  <% 
    personas = InvestorAdvisor.where(user_id: current_user.id).map{ |ia| [ia.entity.name, ia.id] }
  %>
  <div class="form-group" data-controller="persona">
    <% selected = params[:persona].present? ? params[:persona] : current_user.investor_advisor_id %>
    <%= form.select :persona, personas, {selected: selected, include_blank: true}, 
        { id: "persona", class: "form-control", name: "id",
        data: { action: "change->persona#setPersona", toggle: "tooltip", title: "Choose Persona" } } %>
  </div>

  <%= form.submit "Submit", {hidden: true, id: "submit"}%>

<% end %>