<p>Hello,</p>

<p>A document <%= @doc_share.document.name %> has been shared with you by <%= @doc_share.document.entity.name %>. You can view it by clicking on the link below:</p>

<p>
    <%= @doc_share.document.text %>
</p>

<p class="btn btn-outline-primary"><%= link_to "View Document", @view_link %></p>

<p>Thank you</p>
