<% if @custom_notification.present? %>
    <%= render "/custom_notifications/mail" do %>
        <%= render "/secondary_sale_mailer/sale", secondary_sale: @secondary_sale, current_user: nil if @custom_notification.show_details %>
    <% end %>
<% else %>

    <h3>Dear Buyer</h3>

    <p>
        The Share Purchase Agreement (SPA) for your purchase has been uploaded to the interest you placed. Please read and confirm the SPA, so that the sale can be concluded.
    </p>

    <h3>Next Steps</h3>
    <p>
        <ul>
            <li>Login and check details of your offer.</li>
            <li>Read the SPA attached to your offer.</li>
            <li>Accept the SPA.</li>
        </ul>
    </p>

<% end %>

<p class="btn btn-outline-primary"><%= link_to t('secondaries_actions.view_sale_upload_docs'), secondary_sale_url(@secondary_sale, tab: "offerings-tab", subdomain: @secondary_sale.entity.sub_domain) %></p>

