<h3>Dear User</h3>

<p>
    A new secondary sale <%= @secondary_sale.name %> has been opened by <%= @secondary_sale.entity.name %>
</p>

<p>
    <%= render "/secondary_sale_mailer/sale", secondary_sale: @secondary_sale, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Sale', secondary_sale_url(@secondary_sale, subdomain: @secondary_sale.entity.sub_domain) %></p>
