<h3>Dear User</h3>

<p>
    Your Option excercise has been approved. Please wait for further communication on the transfer of shares to your Demat account.
</p>

<p>
    <%= render "/excercises/show", excercise: @excercise, current_user: nil %>
</p>

<p class="btn btn-outline-primary"><%= link_to 'View Excercise', excercise_url(@excercise, subdomain: @excercise.entity.sub_domain) %></p>
