<h3>Dear User</h3>

<p>
    Your Option excercise has been registered and is pending approval.
</p>

<p>
    <%= render "/excercises/show", excercise: @excercise, current_user: nil %>
</p>

<p class="btn btn-primary"><%= link_to 'View Excercise', excercise_url(@excercise) %></p>
