        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img src="/img/logo_trans.png"></img>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/entities/dashboard" >
                    <i class="fas fa-lg fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>

                
            </li>

            <% if current_user && current_user.has_cached_role?(:super) %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <i class="fas fa-lg fa-fw fa-key"></i>
                        <span>Admin</span></a>
                </li>                
            <% end %>

            <% if current_user && current_user.curr_role == "holding" %>
                <li class="nav-item">
                        
                    <a class="nav-link" href="/holdings">
                        <i class="fas fa-lg fa-fw fa-money-bill"></i>
                        <span>Holdings</span>
                    </a>

                </li>
            
            <% elsif current_user && current_user.curr_role.to_sym == :secondary_buyer %>
                <li class="nav-item">
                     
                    <a class="nav-link" href="/secondary_sales">
                        <i class="fas fa-lg fa-fw fa-briefcase"></i>
                        <span>Secondary Sales</span>
                    </a>

                </li>

                
            <% end %>

            <% if current_user && current_user.curr_role.to_sym == :investor %>
                <!-- Divider -->
                <hr class="sidebar-divider">
                
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    
                    <a class="nav-link" href="/entities/investor_entities">
                        <i class="fas fa-lg fa-fw fa-money-bill"></i>
                        <span>Investments</span>
                    </a>

                    <a class="nav-link" href="/deal_investors?for_investor=true">
                        <i class="fas fa-lg fa-fw fa-briefcase"></i>
                        <span>Deals</span>
                    </a>
              
                    <a class="nav-link" href="/secondary_sales">
                        <i class="fas fa-lg fa-fw fa-briefcase"></i>
                        <span>Secondary Sales</span>
                    </a>

                    <a class="nav-link" href="/approvals">
                        <i class="fas fa-lg fa-fw fa-stamp"></i>
                        <span>Approvals</span>                        
                    </a>


                </li>

            <% end %>

            <% if current_user && current_user.curr_role.to_sym == :fund_manager %>
                <!-- Divider -->
                <hr class="sidebar-divider">

            
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">                
                    <a class="nav-link" href="/investors" data-toggle="collapse" data-target="#investorMenus">
                        <i class="fas fa-lg fa-fw fa-user-tie"></i>
                        <span>Investors</span>
                    </a>

                    <div id="investorMenus" class="collapse subMenus" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" 
                            href="/investors/new?investor[entity_id]=<%=current_user.entity_id%>">
                                New Investor</a>
                            <a class="collapse-item" href="/investors">View Investors</a>
                            <a class="collapse-item" href="/approvals">Approvals</a>
                            <a class="collapse-item" href="/notes">Notes</a>
                            <a class="collapse-item" href="/investor_accesses?approved=false">Pending Access</a>
                        </div>
                    </div>

                </li>
                <li class="nav-item"> 
                    <a class="nav-link collapsed" href="/documents">
                        <i class="fas fa-lg fa-fw fa-folder"></i>
                        <span>Documents</span>
                    </a>
                </li>

                <li class="nav-item"> 
                    <a class="nav-link collapsed" href="/investment_opportunities">
                        <i class="fas fa-lg fa-fw fa-funnel-dollar"></i>
                        <span>Investment Opportunities</span>
                    </a>
                </li>

            <% end %>

            <% if current_user && current_user.curr_role.to_sym == :startup %>
            <!-- Divider -->
            <hr class="sidebar-divider">

           
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">                
                <a class="nav-link" href="/investors" data-toggle="collapse" data-target="#investorMenus">
                    <i class="fas fa-lg fa-fw fa-user-tie"></i>
                    <span>Investors</span>
                </a>

                <div id="investorMenus" class="collapse subMenus" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" 
                        href="/investors/new?investor[entity_id]=<%=current_user.entity_id%>">
                            New Investor</a>
                        <a class="collapse-item" href="/investors">View Investors</a>
                        <a class="collapse-item" href="/approvals">Approvals</a>
                        <a class="collapse-item" href="/notes">Notes</a>
                        <a class="collapse-item" href="/investor_accesses?approved=false">Pending Access</a>
                    </div>
                </div>

            </li>
            <li class="nav-item"> 
                <a class="nav-link collapsed" href="/documents">
                    <i class="fas fa-lg fa-fw fa-folder"></i>
                    <span>Documents</span>
                </a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="/aggregate_investments" data-toggle="collapse" data-target="#investmentMenus">
                    <i class="fas fa-lg fa-fw fa-money-bill"></i>
                    <span>Cap Table</span>
                </a>

                <div id="investmentMenus" class="collapse subMenus" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" 
                        href="/investments/new?investment[entity_id]=<%=current_user.entity_id%>">
                            New Investment</a>
                        <a class="collapse-item" href="/aggregate_investments">Shareholding</a>
                        <a class="collapse-item" href="/investments">Details View</a>
                        <a class="collapse-item" href="/funding_rounds">Funding Rounds</a>
                        <a class="collapse-item" href="/option_pools">Option Pools</a>
                        <a class="collapse-item" href="/valuations">Valuations</a>
                        <a class="collapse-item" href="/aggregate_investments/simple_simulator">Scenarios</a>
                        
                    </div>
                </div>

            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">                
                <a class="nav-link" href="/deals">
                    <i class="fas fa-lg fa-fw fa-briefcase"></i>
                    <span>Deals</span>
                </a>
            </li>
            <li class="nav-item">                
                <a class="nav-link" href="/tasks">
                    <i class="fas fa-lg fa-fw fa-check"></i>
                    <span>Tasks</span>
                </a>               
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/holdings"  data-toggle="collapse" data-target="#holdingsMenus">
                    <i class="fas fa-lg fa-fw fa-file-alt"></i>
                    <span>Holdings</span>
                </a>
                <div id="holdingsMenus" class="collapse subMenus" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/holdings">Holdings</a>
                        <a class="collapse-item" href="/excercises">Excercises</a>
                    </div>
                </div>
                
            </li>
            <li class="nav-item">                
                <a class="nav-link" href="/secondary_sales">
                    <i class="fas fa-lg fa-fw fa-bolt"></i>
                    <span>Secondary Sales</span>
                </a>

                <hr class="sidebar-divider my-0">
            </li>

            <% end %>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->
