
<!-- Terms Modal-->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog terms_modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terms & Conditions</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="">
                <div class="RAqDjf">
                    <p>
                        This document outlines the use of this website, domain name www.altconnects.com  and is an electronic record in terms of the Information Technology Act, 2000. This electronic record does not require any physical or digital signatures.

	                    This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries Guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of the www.altconnects.com website 
	                    
                        Alternate PCM Private Limited (referred to as the ‘Company’ or ‘Us’ or ‘We’ or by our registered trademark “AltConnects”), is a private limited company registered in India and includes its successors, permitted assignees and affiliates. The Company is the owner of the domain www.altconnects .com  
	                    
                        AltConnects is a digital platform that helps companies interact with their investors, employees and advisors.  We provide software as a service which assists our Clients with a range of activities including managing investor relations, administration of employee stock ownership plans and interactions with investors in relation to transactions among others.  
                    </p>
                    
                    <h3>Applicability:</h3>
                    <p>
                        These terms and conditions apply to everyone who uses this website (referred to as ‘Clients;, ‘You’ or ‘Users’). Accessing any information on this website shall be subject to these Terms and by accessing the information you provide your consent to agree to these Terms.  We reserve the right to modify, edit, add or delete any of the Terms without any notice or seeking any additional consent.  The use of this platform is also governed by our Privancy Policy.
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>

                    <h3>Intellectual Property</h3>
                    <p>
                        The domain and the algorithms are the intellectual property of the Company.  The information provided on the website provided by any of our Clients may be the intellectual property of such Clients and is meant exclusively for the use of the Users explicitly permitted by the respective Client, through their authorised personnel, and may be subject to any confidentiality agreements entered inter-se between the Users and it is the responsibility of the Users to abide with any such inter-se agreement.  
                        We have not independently verified any information provided by the Users and We do not provide any representation in relation to its completeness or accuracy.  
                        Most sections of the website will require registration of an account with Us and You are responsible to maintaining the confidentiality of the password and ensuring there is no unauthorised use of the same.  We recommend frequently changing your password.  
                    </p>
                    <div id="scope" class="ahbJ5"></div>
                    <h3>Use of the Website</h3>
                    <p class="v7NWSe">
                        Most section of the website will require you to sign in with your login id and password.  You are responsible for maintaining the confidentiality of your password and not permitting any unauthorised use of your login credentials. AltConnects grants you a non-exclusive, non-sublicensable, revocable, non-transferable limited right and license (the "License") to access products and services on our platform. You warrant and represent that you will only access the information to which you have been granted authorized access via AltConnects solely for the purpose agreed between you and the information provider.  You also confirm and represent that you will not use, or permit the use, of the information for any unauthorised purpose.
                    </p>
                    <div id="rights" class="ahbJ5"></div>
                   
                    
                    <div id="toc-purpose" class="ahbJ5"></div>
                    <h3>Companies / Start-ups registering on the Platform</h3>
                    <p>
                        Companies / start-ups registering on the platform confirm that their equity shares are not listed on any securities exchange. You will be responsible for any regulatory and related disclosure related requirements that you may have.  
                        You may use AltConnects to provide information through Our platform to persons specifically authorised by you.  You shall be responsible for such information provided and ensure that it is not in contravention of any contractual rights, regulatory requirements and is in compliance will applicable law.  
                    </p>
                    
                    <div id="duration" class="ahbJ5"></div>
                    <h3>Investors accessing the platform</h3>
                    <p>
                        We provide companies / start-ups and their shareholders a technology platform to share information with persons authorised by them. We also assit our clients in sharing such information through sending notifications, alerts and reminders.    Sharing of this information is not a recommendation or investment advise and should not be construed as an offer or an invitation to an offer or solicitation of an offer to buy / sell or subscribe to any securities / assets.  Should you choose to make an investment decision in a company where you have accessed any information shared through AltConnects.com, you will be responsible for your own decision and is recommended to seek your own financial / legal / other advise or rely on your own judgement and analysis, as you deem appropriate. No representation is made regarding the completeness or accuracy of the information provided on the website.  AltConnects is not responsible for providing any additional information or for updating any inaccuracies in the information, if any.  
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>
                    
                    <h3>Our role:</h3>
                    <p>
                        We provide technology products related to the private capital markets.   We are not a financial advisor, merchant banker, securities exchange and make no representation for the same.  Our Clients may approve access to third party advisors or we may enter into an arrangement with third party advisors to help our Clients approach a wider set of prospective investors.  In such cases we may be entitled to fees from such advisors or share part of fees with them.    
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>

                    <h3>Protection of Client Data / Provision of services</h3>
                    <p>
                        AltConnects will provide the technology tools to control information access. We implement security controls and features to prevent breaches and unauthorized access to Client data such as data encryption and access control for data.  You acknowledge that the transmission of data through electronic forms is subject to the likelihood of human and machine errors, omissions, delays and losses that may give rise to loss or damage. AltConnects will not be liable for any such errors, omissions, delays or losses.  In the event of any breach of Client Data, We shall take appropriate measure to remedy such data breach and will also inform the Client about such breach within 24 (twenty four) hours of our knowledge of the same.

                        While we will make reasonable endeavours to ensure the platform is operating efficiently, we do not make any express or implied representation on the error-free / uninterrupted provision of service.   
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>
                    
                    <h3>Third Party links</h3>
                    <p>
                        The content / information presented on our platform may have links to third party websites or information not owned or controlled in any manner by Us.  Such links are only provided for your convenience and We do not make any representations on the completeness or accuracy of information provided in such third party link.  Please note accessing such information will be subject the terms and conditions of such third party websites/applications, as may be applicable.     
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>

                    <h3>No Liability</h3>
                    <p>
                        Under no circumstances will We or our employees, directors, officers be liable to You or any other party for any indirect, consequential losses (including loss of revenue or loss of profits).        
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>

                    <h3>Monitoring</h3>
                    <p>
                        All infomration and content presented and/or passed to Us, may be monitored, examined, saved, read, transcribed, stored, or retransmitted in the normal course or otherwise by any of Our  duly authorized employee or agent, or by any regulatory or law enforcement authorities under applicable laws. Electronic communications and content may be examined by automated means.         
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>

                    <h3>Termination of service</h3>
                    <p>
                        We reserve the right to, at Our sole discretion, to suspend or terminate Your use of and prohibit access to any or all features/modules of the platform without any prior notice.  We shall not have any liability to You or any of Your counterparties, investors, employees or agents in case of such termination.  

                        Except as otherwise specifically provided herein, the termination of these Terms of Use for any reason whatsoever shall be without prejudice to any rights or obligations accrued to or in respect of the parties prior to the date of termination. The appropriate clauses of this agreement that need to survive post termination by either party shall continue to survive.        
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>

                    <h3>Governing Law and Dispute Resolution</h3>
                    <p>
                        These Terms of Use shall be governed by and construed in accordance with the laws of the Republic of India and, the courts at New Delhi, India shall have exclusive jurisdiction in relation to any disputes arising out of or in connection with these Terms of Use.         
                    </p>
                    <div id="license-not-covered" class="ahbJ5"></div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <%= button_to "Accept" , accept_terms_users_path, class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>