<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Ticker Feeds</h1>
  <%= link_to "New Ticker Feed", new_ticker_feed_path, {class: "btn btn-outline-primary"}  %>
</div>

<div class="table-responsive" data-controller="datatable">

  <table id="ticker_feeds" class="table table-bordered dataTable">

    <thead>
      <tr>
        <th>
          Ticker
        </th>
        <th>
          Price Cents
        </th>
        <th>
          Name
        </th>
        <th>
          Source
        </th>
        <th>
          Date
        </th>
        <th>
          Time
        </th>
        <th>
          Price Type
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
    <% @ticker_feeds.each do |ticker_feed| %>
      <%= render ticker_feed %>
    <% end %>
    </tbody>
  </table>

  <%= raw pagy_bootstrap_nav(@pagy) %>

</div>